-
  var FEATHER_ICON_LIST=['activity','airplay','alert-circle','alert-octagon','alert-triangle','align-center','align-justify','align-left','align-right','anchor','aperture','archive','arrow-down-circle','arrow-down-left','arrow-down-right','arrow-down','arrow-left-circle','arrow-left','arrow-right-circle','arrow-right','arrow-up-circle','arrow-up-left','arrow-up-right','arrow-up','at-sign','award','bar-chart-2','bar-chart','battery-charging','battery','bell-off','bell','bluetooth','bold','book-open','book','bookmark','box','briefcase','calendar','camera-off','camera','cast','check-circle','check-square','check','chevron-down','chevron-left','chevron-right','chevron-up','chevrons-down','chevrons-left','chevrons-right','chevrons-up','chrome','circle','clipboard','clock','cloud-drizzle','cloud-lightning','cloud-off','cloud-rain','cloud-snow','cloud','code','codepen','codesandbox','coffee','columns','command','compass','copy','corner-down-left','corner-down-right','corner-left-down','corner-left-up','corner-right-down','corner-right-up','corner-up-left','corner-up-right','cpu','credit-card','crop','crosshair','database','delete','disc','divide-circle','divide-square','divide','dollar-sign','download-cloud','download','dribbble','droplet','edit-2','edit-3','edit','external-link','eye-off','eye','facebook','fast-forward','feather','figma','file-minus','file-plus','file-text','file','film','filter','flag','folder-minus','folder-plus','folder','framer','frown','gift','git-branch','git-commit','git-merge','git-pull-request','github','gitlab','globe','grid','hard-drive','hash','headphones','heart','help-circle','hexagon','home','image','inbox','info','instagram','italic','key','layers','layout','life-buoy','link-2','link','linkedin','list','loader','lock','log-in','log-out','mail','map-pin','map','maximize-2','maximize','meh','menu','message-circle','message-square','mic-off','mic','minimize-2','minimize','minus-circle','minus-square','minus','monitor','moon','more-horizontal','more-vertical','mouse-pointer','move','music','navigation-2','navigation','octagon','package','paperclip','pause-circle','pause','pen-tool','percent','phone-call','phone-forwarded','phone-incoming','phone-missed','phone-off','phone-outgoing','phone','pie-chart','play-circle','play','plus-circle','plus-square','plus','pocket','power','printer','radio','refresh-ccw','refresh-cw','repeat','rewind','rotate-ccw','rotate-cw','rss','save','scissors','search','send','server','settings','share-2','share','shield-off','shield','shopping-bag','shopping-cart','shuffle','sidebar','skip-back','skip-forward','slack','slash','sliders','smartphone','smile','speaker','square','star','stop-circle','sun','sunrise','sunset','table','tablet','tag','target','terminal','thermometer','thumbs-down','thumbs-up','toggle-left','toggle-right','tool','trash-2','trash','trello','trending-down','trending-up','triangle','truck','tv','twitch','twitter','type','umbrella','underline','unlock','upload-cloud','upload','user-check','user-minus','user-plus','user-x','user','users','video-off','video','voicemail','volume-1','volume-2','volume-x','volume','watch','wifi-off','wifi','wind','x-circle','x-octagon','x-square','x','youtube','zap-off','zap','zoom-in','zoom-out',]

-
  var ICONLY_ICON=[
    {
      name: "Activity",
      path:2,  
    },
    {
      name:"Add-User",
      path:3,
    },
    {
      name:"Arrow-Down",
      path:2,
    },
    {
      name:"Arrow-Down-2",
      path:2,
    },
    {
      name:"Arrow-Down-3",
      path:2,
    },
    {
      name:"Arrow-Down-Circle",
      path:2,
    },
    {
      name:"Arrow-Down-Square",
      path:2,
    },
    {
      name:"Arrow-Left",
      path:2,
    },
    {
      name:"Arrow-Left-2",
      path:2
    },
    {
      name:"Arrow-Left-3",
      path:2
    },
    {
      name:"Arrow-Left-Circle",
      path:2
    },
    {
      name:"Arrow-Left-Square",
      path:2
    },
    {
      name:"Arrow-Right",
      path:2
    },
    {
      name:"Arrow-Right-2",
      path:2
    },
    {
      name:"Arrow-Right-3",
      path:2
    },
    {
      name:"Arrow-Right-Circle",
      path:2
    },
    {
      name:"Arrow-Right-Square",
      path:2
    },
    {
      name:"Arrow-Up",
      path:2
    },
    {
      name:"Arrow-Up-2",
      path:2
    },
    {
      name:"Arrow-Up-3",
      path:2
    },
    {
      name:"Arrow-Up-Circle",
      path:2
    },
    {
      name:"Arrow-Up-Square",
      path:2
    },
    {
      name:"Bag",
      path:2
    },
    {
      name:"Bag-2",
      path:2
    },
    {
      name:"Bookmark",
      path:2
    },
    {
      name:"Buy",
      path:2
    },
    {
      name:"Calendar",
      path:4
    },
    {
      name:"Call",
      path:0
    },
    {
      name:"Call-Missed",
      path:2
    },
    {
      name:"Call-Silent",
      path:3
    },
    {
      name:"Calling",
      path:3
    },
    {
      name:"Camera",
      path:2
    },
    {
      name:"Category",
      path:2
    },
    {
      name:"Chart",
      path:4
    },
    {
      name:"Chat",
      path:2
    },
    {
      name:"Close-Square",
      path:2
    },
    {
      name:"Danger",
      path:2
    },
    {
      name:"Delete",
      path:2
    },
    {
      name:"Discount",
      path:2
    },
    {
      name:"Discovery",
      path:2
    },
    {
      name:"Document",
      path:2
    },
    {
      name:"Download",
      path:2
    },
    {
      name:"Edit",
      path:3
    },
    {
      name:"Edit-Square",
      path:2
    },
    {
      name:"Filter",
      path:4
    },
    {
      name:"Filter-2",
      path:2
    },
    {
      name:"Folder",
      path:2
    },
    {
      name:"Game",
      path:2
    },
    {
      name:"Graph",
      path:2
    },
    {
      name:"Heart",
      path:3
    },
    {
      name:"Hide",
      path:2
    },
    {
      name:"Home",
      path:0
    },
    {
      name:"Image",
      path:2
    },
    {
      name:"Image-2",
      path:3
    },
    {
      name:"Info-Circle",
      path:2
    },
    {
      name:"Info-Square",
      path:2
    },
    {
      name:"Location",
      path:2
    },
    {
      name:"Lock",
      path:2
    },
    {
      name:"Login",
      path:2
    },
    {
      name:"Logout",
      path:2
    },
    {
      name:"Message",
      path:2
    },
    {
      name:"More-Circle",
      path:2
    },
    {
      name:"More-Square",
      path:2
    },
    {
      name:"Notification",
      path:2
    },
    {
      name:"Paper",
      path:3
    },
    {
      name:"Paper-Download",
      path:3
    },
    {
      name:"Paper-Fail",
      path:3
    },
    {
      name:"Paper-Negative",
      path:3
    },
    {
      name:"Paper-Plus",
      path:3
    },
    {
      name:"Paper-Upload",
      path:3
    },
    {
      name:"Password",
      path:2
    },
    {
      name:"Play",
      path:2
    },
    {
      name:"Plus",
      path:2
    },
    {
      name:"Profile",
      path:2
    },
    {
      name:"Scan",
      path:2
    },
    {
      name:"Search",
      path:2
    },
    {
      name:"Send",
      path:2
    },
    {
      name:"Setting",
      path:2
    },
    {
      name:"Shield-Done",
      path:2
    },
    {
      name:"Shield-Fail",
      path:2
    },
    {
      name:"Show",
      path:2
    },
    {
      name:"Star",
      path:2
    },
    {
      name:"Swap",
      path:4
    },
    {
      name:"Tick-Square",
      path:2
    },
    {
      name:"Ticket",
      path:2
    },
    {
      name:"Ticket-Star",
      path:2
    },
    {
      name:"Time-Circle",
      path:2
    },
    {
      name:"Time-Square",
      path:2
    },
    {
      name:"Unlock",
      path:2
    },
    {
      name:"Upload",
      path:2
    },
    {
      name:"2-User",
      path:4
    },
    {
      name:"3-User",
      path:6
    },
    {
      name:"Video",
      path:2
    },
    {
      name:"Voice",
      path:2
    },
    {
      name:"Voice-2",
      path:2
    },
    {
      name:"Volume-Down",
      path:2
    },
    {
      name:"Volume-Off",
      path:2
    },
    {
      name:"Volume-Up",
      path:3
    },
    {
      name:"Wallet",
      path:3
    },
    {
      name:"Work",
      path:3
    },
  ]

-
  var FONT_AWESOME_LIST=['fa-solid fa-house','fa-solid fa-magnifying-glass','fa-solid fa-user','fa-regular fa-user','fa-brands fa-facebook','fa-solid fa-check','fa-solid fa-download',
    'fa-brands fa-twitter','fa-solid fa-image','fa-regular fa-image','fa-solid fa-phone','fa-brands fa-tiktok','fa-solid fa-bars','fa-solid fa-envelope','fa-regular fa-envelope',
    'fa-brands fa-linkedin','fa-solid fa-star','fa-regular fa-star','fa-solid fa-location-dot','fa-brands fa-github', 'fa-solid fa-music','fa-solid fa-users',
    'fa-solid fa-heart','fa-regular fa-heart','fa-solid fa-arrow-right','fa-brands fa-discord','fa-solid fa-circle-xmark', 'fa-regular fa-circle-xmark','fa-solid fa-bomb',
    'fa-solid fa-poo','fa-solid fa-camera-retro','fa-solid fa-xmark', 'fa-brands fa-youtube','fa-solid fa-cloud','fa-solid fa-comment','fa-regular fa-comment',
    'fa-solid fa-caret-up','fa-solid fa-truck-fast','fa-brands fa-wordpress','fa-solid fa-pen-nib','fa-solid fa-arrow-up','fa-solid fa-hippo','fa-solid fa-face-smile',
    'fa-regular fa-face-smile','fa-solid fa-calendar-days','fa-regular fa-calendar-days', 'fa-solid fa-paperclip','fa-brands fa-slack', 'fa-solid fa-shield-halved',
    'fa-brands fa-figma','fa-solid fa-file','fa-regular fa-file','fa-solid fa-bell','fa-regular fa-bell', 'fa-solid fa-cart-shopping','fa-solid fa-clipboard','fa-regular fa-clipboard',
    'fa-solid fa-filter','fa-solid fa-circle-info','fa-solid fa-arrow-up-from-bracket','fa-solid fa-bolt','fa-solid fa-car','fa-solid fa-ghost','fa-brands fa-apple','fa-solid fa-mug-hot',
    'fa-solid fa-circle-user','fa-regular fa-circle-user','fa-solid fa-pen', 'fa-brands fa-google','fa-solid fa-umbrella','fa-solid fa-gift','fa-solid fa-film','fa-brand fa-stripe','fa-solid fa-list',
    'fa-solid fa-gear','fa-solid fa-backward','fa-solid fa-trash','fa-solid fa-circle-up','fa-regular fa-circle-up','fa-brands fa-docker','fa-solid fa-circle-down','fa-regular fa-circle-down','fa-solid fa-inbox',
    'fa-solid fa-rotate-right','fa-solid fa-lock','fa-solid fa-info','fa-solid fa-headphones','fa-solid fa-barcode','fa-solid fa-tag','fa-solid fa-book','fa-solid fa-bookmark','fa-regular fa-bookmark',
    'fa-brands fa-paypal','fa-solid fa-print','fa-solid fa-camera','fa-solid fa-caret-down','fa-solid fa-font','fa-solid fa-video','fa-solid fa-circle-half-stroke','fa-solid fa-droplet','fa-solid fa-pen-to-square',
    'fa-regular fa-pen-to-square','fa-solid fa-share-from-square','fa-regular fa-share-from-square','fa-solid fa-plus','fa-solid fa-minus','fa-solid fa-share','fa-solid fa-circle-exclamation','fa-solid fa-fire','fa-solid fa-eye',
    'fa-regular fa-eye','fa-solid fa-eye-slash','fa-regular fa-eye-slash','fa-solid fa-scroll','fa-solid fa-plane','fa-solid fa-hand','fa-solid fa-folder','fa-solid fa-folder-open','fa-solid fa-thumbs-up','fa-regular fa-thumbs-up',
    'fa-solid fa-thumbs-down','fa-regular fa-thumbs-down','fa-solid fa-comments','fa-solid fa-key','fa-solid fa-thumbtack','fa-solid fa-gears','fa-solid fa-paper-plane',
    'fa-solid fa-person','fa-solid fa-wifi','fa-solid fa-right-to-bracket','fa-solid fa-gear','fa-solid fa-cloud-arrow-up',
  ]



mixin icon-box(iconPackage,iconName,type,path,classes,iconStyle)
  div(class="flex flex-col items-center justify-center gap-4 px-3 py-5 border cursor-pointer icon-box rounded-5 border-border-light 3sm:px-2 3sm:py-4 dark:border-border-dark hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0") 
    if(iconPackage === "feather")
      i(data-feather=`${iconName}` class="w-6 h-6")
    if(iconPackage === "iconly")
      +SVG_ICON(iconName,"w-6 h-6 stroke-title")    
    if(iconPackage === "fontAwesome")
      i(class=`${iconName} w-6 h-6 text-title dark:text-white`)
    span(class="text-xs font-normal text-center icon-name 3sm:text-3xs text-title dark:text-white")= iconName
