//- ==========
//-  Widget 2  
//- ==========
mixin widget2(data)
   div.relative 
      div.flex.items-center.justify-between
         div(class="flex-[0_1_50%]")
            div 
               h4.flex.items-center(class="text-2xl  5xl:text-lg 4xl:text-base font-extrabold text-title gap-[7px]")= data.price      
               span(class="font-semibold text-4xs text-content")= data.subTitle
            p(class="line-clamp-3 mt-[18px] font-normal text-xs text-title")= data.pera   
         div(id=`${data.chart}`)