mixin icon-box(iconPackage,iconName,type,path,classes,iconStyle)
    div(class="flex flex-col items-center justify-center gap-4 px-3 py-5 border icon-box rounded-5 border-border-light 3sm:px-2 3sm:py-4 ") 
        if(iconPackage === "feather")
            i(data-feather=`${iconName}` class="w-6 h-6")
        if(iconPackage === "iconly")
            +SVG_ICON(iconName,"w-6 h-6 stroke-title")    
        span(class="text-xs font-normal text-center icon-name 3sm:text-3xs text-title")= iconName
        //- if(iconPackage === "fontAwesome")
            //- i.fa-`${iconStyle}.fa-${iconName}`