//- =====================
//-  All Mixing  
//- =====================

include ./svg.pug
include ./element-audit-card.pug
include ./element-breadcrumb.pug
include ./element-breadcrumb-2.pug
include ./element-breadcrumb-3.pug
include ./element-card-header.pug
include ./element-icon-box.pug
include ./element-image-card.pug
include ./element-new-product.pug
include ./element-invoice-icon.pug
include ./element-legend-image.pug
include ./element-news-update.pug
include ./element-notification.pug
include ./element-email-data.pug
include ./element-plus-minus.pug
include ./element-product-list.pug
include ./element-product-box.pug
include ./element-recent-activity.pug
include ./element-social-media.pug
include ./element-task-list-checkbox.pug
include ./element-todo-list.pug
include ./element-todo-app.pug
include ./element-task-list-checkbox.pug
include ./element-traffic-list.pug
include ./element-user-card.pug
include ./element-widget1.pug
include ./element-widget2.pug
include ./element-widget3.pug
include ./element-widget4.pug
include ./element-wishlist-product-box.pug
include ./element-user-follower.pug

//- =====================
//-  Chat Mixing  
//- =====================

include ./chat-app/element-recent-chat.pug
include ./chat-app/element-message.pug
include ./chat-app/element-story.pug
include ./chat-app/element-call.pug
include ./chat-app/element-chat-document.pug
include ./chat-app/element-chat-link.pug

include ../layout/footer.pug