
<!-- Page sidebar start-->
<aside class="sidebar"> 
  <div class="logo-wrapper"><a href="index.html"> <img class="w-full full-sidebar" src="../../assets/images/logo/logo.png" alt="logo"/><img class="w-full icon-sidebar" src="../../assets/images/logo/logo-sort-1.png" alt="logo"/></a>
    <button class="sidebar-btn"><i class="w-6 h-6" data-feather="grid"></i></button>
  </div>
  <div class="search-wrapper">
    <div class="search-box"> 
      <input class="search" placeholder="Search" type="search"/><i class="w-6 h-6" data-feather="search"></i>
    </div>
  </div>
  <nav class="sidebar-main"> 
    <ul class="sidebar-links custom-scroll">
      <li class="sidebar-list file-structure"><a class="sidebar-link sidebar-title" href="index.html"><span>   <i class="fa-solid fa-home w-6 h-6"></i><span class="sidebar-name">Getting started</span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="file-structure.html"><span>   <i class="fa-solid fa-folder w-6 h-6"> </i><span class="sidebar-name">File structure</span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="gulp.html"> <span>   <i class="fa-solid fa-briefcase w-6 h-6"></i><span class="sidebar-name">Working with gulp</span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="tailwind.html"> <span>   <i class="fa-solid fa-briefcase w-6 h-6"></i><span class="sidebar-name">Working with tailwind</span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="app-list.html"> <span>   <i class="fa-solid fa-clipboard-list w-6 h-6"> </i><span class="sidebar-name">App List </span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="layouts.html"> <span>   <i class="fa-solid fa-layer-group w-6 h-6"></i><span class="sidebar-name">Layouts</span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="starter-kit/index.html"> <span>   <i class="fa-solid fa-ticket w-6 h-6"></i><span class="sidebar-name">Starter kit</span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="remove-custo.html"> <span>   <i class="fa-solid fa-filter-circle-xmark w-6 h-6"></i><span class="sidebar-name">Remove Customizer</span></span></a></li>
      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="thank-you.html"> <span>   <i class="fa-solid fa-star w-6 h-6"></i><span class="sidebar-name">Thank you</span></span></a></li>
    </ul>
  </nav>
</aside>
<!-- Page sidebar end   -->