/*=====================
  2.1  Basic Reset Css
  ==========================*/
@layer base {
  * {
    &:after,
    &:before {
      @apply p-0 m-0;
    }
  }

  html {
    @apply h-full;
  }

  html,
  body {
    @apply w-full;
  }
  body {
    @apply bg-body;
  }
  input,
  select,
  textarea {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: inherit;
    opacity: 1; /* Firefox */
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .dashed-border-horizontal {
    @apply bg-dashed-horizontal bg-sm-h bg-bottom bg-repeat-x;
  }
  .dashed-border-vertical {
    @apply bg-dashed-vertical bg-sm-v bg-right bg-repeat-y;
  }
  .custom-scroll {
    &::-webkit-scrollbar {
      @apply w-[4px] h-[4px];
    }
    &::-webkit-scrollbar-track {
      @apply bg-gray-200;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-300  rounded-[.0391rem] border border-gray-400  h-[5px];
    }
  }
  .customizer-sidebar {
    @apply duration-300 z-10 transition-all fixed min-w-[280px] max-w-[280px]  h-screen -right-full top-0 bottom-0 bg-white border-l border-light;
    &.show {
      @apply right-0 rtl:left-0 rtl:right-unset;
    }
  }
  .apex-custom-text {
    .apexcharts-xaxis-title-text {
      @apply -translate-x-1/2 2md:translate-x-0;
    }
  }
  .custom-data-label {
    .apexcharts-datalabels {
      rect {
        filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.2));
        @apply w-[25px] h-[25px] stroke-[3px] stroke-white;
      }
      text {
        @apply translate-x-[2px] translate-y-[4px];
      }
      .apexcharts-data-labels {
        &:nth-child(4n + 1) {
          rect {
            @apply fill-primary;
          }
        }
        &:nth-child(4n + 2) {
          rect {
            @apply fill-secondary;
          }
        }
        &:nth-child(4n + 3) {
          rect {
            @apply fill-[var(--chart-dark)];
          }
        }
        &:nth-child(4n + 4) {
          rect {
            @apply fill-warning;
          }
        }
      }
    }
  }
  .round-bar {
    .apexcharts-plot-series {
      .apexcharts-series {
        path {
          clip-path: inset(5% 5% 5% 0% round 8px) !important;
        }
      }
    }
  }


  /* Custom scroll */
  .page-sidebar{
    &.sidebar-dark {

      .custom-scroll {
        &::-webkit-scrollbar {
          @apply w-[.25rem] h-[.25rem];
        }
        &::-webkit-scrollbar-track {
          @apply bg-sidebar-dark2;
        }
        &::-webkit-scrollbar-thumb {
          @apply bg-sidebar-dark h-[.3125rem];
        }
      }
    }
  }

  .post-media{
    &.post-liked, &.wish-liked{
      .post-like, .wish-like{
        @apply fill-danger stroke-danger;
        animation: liked 0.1s ease-in-out;
      }
    }
    /* &.wish-liked{
      .wish-like{
        @apply fill-danger stroke-danger;
        animation: liked 0.1s ease-in-out;
      }
    } */
    &.post-disliked{
      .post-dislike{
        @apply fill-border-dark stroke-border-dark;
        animation: liked 0.1s ease-in-out;
      }
    }
  }
  @keyframes liked{
    00%{
      transform: scale(0);
    }
    45%{
      transform: scale(0.7);
    }
    100%{
      transform: scale(1);
    }
  }

  .svg-shake{
    &:hover{
      .strong-hover-shake{
        animation: tada 1.5s ease infinite;
      }
    }
  }

  @keyframes tada {
    0% {
      transform: scaleX(1);
    }
    10% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    70% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    60% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    100% {
        transform: scaleX(1);
    }
  }
  

}
.announcement-image{
  img{
    filter: brightness(0.5);
  }
} 