/*=====================
  4.3 Sidebar Css
==========================*/
@layer components {
  .page-sidebar {
    /* Unique Sidebar */
    &.unique-sidebar {
      @apply xl:-left-[62.4375rem] rtl:xl:-right-[62.4375rem] fixed z-10 top-0 bottom-0 left-0 w-[15.8125rem] 4xl:w-[14.375rem] transition-all duration-300 rtl:right-0 rtl:left-unset;

      &.hide-show-sidebar {
        @apply left-[-62.4375rem] xl:left-0 rtl:right-[-62.4375rem] rtl:xl:right-0 rtl:left-unset rtl:xl:left-unset;
        ~.page-footer{
          @apply !w-full;
        }
      }
      .sidebar {
        .logo-wrapper {
          @apply border-b border-border-dark px-[1.4375rem] 4xl:px-[1.125rem] flex items-center justify-between pt-[1.0625rem] pb-5;
          img {
            @apply w-[5.6875rem] 4xl:w-[4.6875rem] h-auto;
          }
        }
        .search-wrapper {
          @apply px-[1.4375rem] 4xl:p-[1.125rem] pt-[1.25rem] 4xl:pt-[1.125rem];
          .search-box {
            @apply relative;
            .search {
              @apply py-3 4xl:py-2 pl-11 pr-3 w-full  rounded-5;
            }
            svg {
              @apply absolute top-1/2 left-3 -translate-y-1/2;
            }
          }
        }
        .sidebar-main {
          @apply p-[.625rem];
          .sidebar-links {
            @apply px-[1.375rem] py-[.9375rem] h-[calc(100vh_-_9.625rem)] overflow-auto;
            li {
              @apply first:mt-0;
            }
            .title {
              @apply mt-[1.5625rem] mb-[.625rem] uppercase text-title text-3xs font-extrabold;
            }
            .sidebar-list {
              @apply py-[.5rem];
              span {
                @apply flex items-center gap-3 text-xs text-title leading-none;
                svg {
                  @apply w-5 h-5 stroke-title;
                }
              }
              a {
                @apply text-xs justify-between flex items-center text-content font-semibold;
                > svg {
                  @apply w-4 h-4 stroke-title;
                }
              }
              .sidebar-submenu {
                @apply hidden flex-col gap-[.5rem] pl-[1.375rem] mt-[.9375rem] border-l-2 border-border-dark  ml-[.5625rem];

                a {
                  @apply text-xs text-content font-medium;
                }
              }
              &.active {
                .sidebar-submenu {
                  @apply flex;
                }
                a {
                  > svg {
                    @apply rotate-90;
                  }
                }
              }
            }
          }
        }
      }
    }
    /* Dark Sidebar */
    &.sidebar-dark {
      &.unique-sidebar {
        @apply bg-sidebar-dark;
        .logo-wrapper {
          svg {
            @apply stroke-white;
          }
        }
        .search-box {
          @apply relative;
          .search {
            @apply bg-sidebar-dark2 text-content2;
          }
          svg {
            @apply stroke-content2;
          }
        }
        .sidebar-main {
          .sidebar-links {
            .title {
              @apply text-content2;
            }
            .sidebar-list {
              span {
                @apply text-content2;
                svg {
                  @apply stroke-content2;
                }
              }
              > a {
                @apply text-content2;
                > svg {
                  @apply stroke-content2;
                }
              }
              .submenu-wrapper {
                > h4 {
                  @apply text-content2;
                  svg {
                    @apply stroke-content2;
                  }
                }
              }
              .sidebar-submenu {
                li {
                  a {
                    @apply text-content2;
                  }
                }
              }
              &.active {
                span {
                  @apply text-white;
                  svg {
                    @apply stroke-white;
                  }
                }
                > a {
                  @apply text-white;
                  > svg {
                    @apply stroke-white;
                  }
                }
                .submenu-wrapper {
                  > h4 {
                    @apply text-white;
                    svg {
                      @apply stroke-white;
                    }
                  }
                }
              }
              .sidebar-submenu {
                li {
                  a {
                    &.active {
                      @apply text-white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
