/* Variables */
@import "utils/_variables.css";

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Utils */
@import "utils/_ratio.css";

/* Base css */
@import "base/_reset.css";
@import "base/_typography.css";

/* Componant */
@import "components/_apex-custom-tooltip.css";
@import "components/_badge.css";
@import "components/_avatar.css";
@import "components/_breadcrumb.css";
@import "components/_buttons.css";
@import "components/_card.css";
@import "components/_chartist-custom.css";
@import "components/_checkbox.css";
@import "components/_collapse.css";
@import "components/_dropdown.css";
@import "components/_divider.css";
@import "components/_email.css";
@import "components/_form.css";
@import "components/_indicator.css";
@import "components/_layout.css";
@import "components/_modal.css";
@import "components/_monochrome-mode.css";
@import "components/_progress-bar.css";
@import "components/_radial-progress.css";
@import "components/_select-custom.css";
@import "components/_sidebar.css";
@import "components/_prism-custom.css";
@import "components/_table.css";
@import "components/_tab.css";
@import "components/_tooltip.css";
@import "components/_weekly-shedual.css";
@import "components/_kanban.css";
@import "components/_map.css";

/* Layout  */
@import "layout/_header.css";
@import "layout/_sidebar.css";
@import "layout/_main.css";

/* Pages */
@import "pages/_chat-app.css";
@import "pages/_carousel.css";
@import "pages/_calendar.css";
@import "pages/_countdown.css";
@import "pages/_ecommerce.css";
@import "pages/_mask.css";
@import "pages/_rating.css";
@import "pages/_swiper-slider.css";
@import "pages/_stack.css";
@import "pages/_steps.css";
@import "pages/_switch.css";
@import "pages/_swap.css";
@import "pages/_toast.css";
@import "pages/_todo-app.css";
@import "pages/_user-profile.css";
@import "pages/_wow-animation.css";
