// email left sidebar Start 

div(class="card gap-0 lg:z-10 2xl:p-card-spacing lg:p-3 left-sidebar-aside z-[3] lg:w-[280px] sticky min-lg:top-0 sm:w-[269px] lg:fixed lg:h-[100vh]")
    div.flex.justify-between    
        div.flex.items-center.gap-3.mb-4(class="sm:gap-1")
            div.avatar 
                div.w-10.rounded-full
                    img(src='../../assets/images/avatar/2.jpg' alt='avatar')
            div
                h4.text-xs.font-semibold.text-title(class="leading-none 3sm:text-2xs 3sm:leading-none") Dmitriy Groshev 
                div.flex.items-center.gap-1(class="mt-1")
                    span.text-content3.text-2xs alan.Dmitriy@Groshev

        button(class="hidden lg:flex left-sidebar-toggle")   
            i(data-feather="x" class="w-5 h-5 stroke-title") 
    label.button-label.btn-primary.flex.gap-2.items-center.justify-center.w-full.text-sm(for='modal-16')
        +SVG_ICON("Message","w-[1.125rem] h-[1.125rem] stroke-white")
        | New Mail
    div(class="mt-4 bg-gray-light lg:h-full")
        ul.flex.flex-col.gap-0
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px] bg-white rounded-tr-[25px] rounded-br-[25px] rtl:rounded-tr-none rtl:rounded-br-none rtl:rounded-tl-[25px] rtl:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-primary.font-medium
                        +SVG_ICON("Message","w-[1.125rem] h-[1.125rem] stroke-primary hover:primary")
                        | Inbox
                    span.text-sm.text-primary (30)
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Send","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Send Mail
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Star","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Starred
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Message","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | All Mail
                    span.text-sm.text-title (1,235)
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Edit-Square","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Draft
                    span.text-sm.text-title (30)
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Danger-Circle","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Important
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Delete","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Trash
                        span.text-sm.text-title (326)
            span.border.border-dashed.border-border-light(class="w-[90%] mx-auto")
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Message","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Unread
                    span.text-sm.text-title (45)
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Download","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Spam
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Logout","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Outbox
                    span.text-sm.text-title (265)
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Paper","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Update
                    span.text-sm.text-title (36)
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Notification","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Alert
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Document","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Notes
                    span.text-sm.text-title (56)
            span.border.border-dashed.border-border-light(class="w-[90%] mx-auto")
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Setting","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Setting
            li.pl-3.pr-2.rounded-5(class="rtl:pl-2 py-[0.6rem] last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px]")
                a(href="javascript:void(0)" class="flex items-center justify-between")
                    span.flex.items-center.gap-2.text-xs.text-title.font-medium
                        +SVG_ICON("Profile","w-[1.125rem] h-[1.125rem] stroke-title hover:primary")
                        | Change Profile





// email left sidebar Start 