
mixin footer(footerMainClasses)
    div(class=`page-footer 3sm:!px-[10px] fixed bottom-0 xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300 ${footerMainClasses}`) 
        p(class="text-xs font-semibold text-center text-content") Copyright 2023 © Govo theme by pixelstrap
        div.flex.items-center.gap-2 
            p(class="text-xs font-semibold text-center text-content") Hand crafted & made with
            i(data-feather="heart" class="stroke-danger h-[18px] w-[18px] fill-danger")