head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0') 
    meta(name='description' content='Govo admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.')
    meta(name='keywords' content='admin template, Govo admin template, dashboard template, tailwind admin template, responsive admin template, web app')
    meta(name='author' content='pixelstrap')
    title Govo - Premium Admin Template
    // Favicon icon
    link(rel='icon' href='../../assets/images/favicon.png' type='image/x-icon')
    link(rel='shortcut icon' href='../../assets/images/favicon.png' type='image/x-icon')

    // Google font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap' rel='stylesheet')

    if(retro)
        // Retro Fonts
        link( href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet")


    if(customSelect) 
        // Custom Select css
        link(rel='stylesheet' href='../../assets/css/vendors/custom-select.css')

    if(chartJs)
        // Chart js
        link(rel='stylesheet' href='../../assets/css/vendors/chartist.css')

    if(fullCalender)
        // Full Calender js
        link(rel='stylesheet' href='../../assets/css/vendors/fullcalender.css')

    if(vectorMap)
        // Vector Map css
        link(rel='stylesheet' href='../../assets/css/vendors/vectormap.css')
    if(jkanban)
        //jkanban css
        link(rel='stylesheet' href='../../assets/css/vendors/jkanban.min.css') 
    if(prism)
        // prism css
        link(rel='stylesheet' href='../../assets/css/vendors/prism.css')

    if(toast)
        // toast css
        link(rel='stylesheet' href='../../assets/css/vendors/toast.css')

    if (emojiPicker)
        // emojiPicker css
        link(rel='stylesheet' href='../../assets/css/vendors/emoji-uikit.min.css')  

    if (photoswipe)
        // photoswipe css
        link(rel='stylesheet' href='../../assets/css/vendors/photoswipe.css')  

    if(fontAwesome)
        // fontAwesome CSS
        link(rel='stylesheet' href='../../assets/css/vendors/fontawesome/all.css')  

    if(textEditor)
        // textEditor css
        link(rel="stylesheet" href="../../assets/css/vendors/text-editor.css")

    if(mapsJs)
        // mapsJs css
        link(rel="stylesheet" href="../../assets/css/vendors/leaflet.css")

    if(filepond)
        // filepond css
        link(rel="stylesheet" href="../../assets/css/vendors/filepond/filepond.css")
        link(rel="stylesheet" href="../../assets/css/vendors/filepond/filepond-plugin-image-preview.css")

    if(calendar_page)
        // Calender icon css 
        link(rel='stylesheet' href='../../assets/css/vendors/calendar.css')

    // App css
    link(rel='stylesheet' href='../../assets/css/style.css')




