
// chat main start 


div.overflow-auto.custom-scroll(class="p-6 mx-4 bg-gray-light h-[832px] sm:h-[580px]")
    div.message.message-sender
        div.message-box
            div.message-content
                div.avatar.rounded-xl(class="w-[50px] sm:w-[40px] h-[55px] sm:h-[40px]")
                    img(src='../../assets/images/avatar/3.jpg' alt='avatar')
                div.content
                    div.flex.gap-2.items-center.content-detail
                        span.timer 5:27 PM
                        span.sender-receiver-name Josephin Water    
                    p Hii i am Josephin, can you help me to find best chat app?
                    p it should from elite auther
    div.message.message-receiver
        div.message-box
            div.message-content
                div.avatar.rounded-xl(class="w-[50px] sm:w-[40px] h-[55px] sm:h-[40px]")
                    img(src='../../assets/images/avatar/2.jpg' alt='avatar')
                div.content
                    div.flex.gap-2.items-center.content-detail.flex-row-reverse
                        span.timer 5:27 PM
                        span.sender-receiver-name Dmitriy Groshev    
                    p Hi i am Dmitriy Groshev
                    p Your personal assistant to helo you
    div.message.message-sender
        div.message-box
            div.message-content
                div.avatar.rounded-xl(class="w-[50px] sm:w-[40px] h-[55px] sm:h-[40px]")
                    img(src='../../assets/images/avatar/3.jpg' alt='avatar')
                div.content
                    div.flex.gap-2.items-center.content-detail
                        span.timer 5:27 PM
                        span.sender-receiver-name Josephin Water    
                    p Hii i am josephin, can you help me to find best chat app?
                    p it should from elite auther
    div.message.message-receiver
        div.message-box
            div.message-content
                div.avatar.rounded-xl(class="w-[50px] sm:w-[40px] h-[55px] sm:h-[40px]")
                    img(src='../../assets/images/avatar/2.jpg' alt='avatar')
                div.content
                    div.flex.gap-2.items-center.content-detail.flex-row-reverse
                        span.timer 5:27 PM
                        span.sender-receiver-name Dmitriy Groshev    
                    p Sure, backy is best theme for chating project, you can check it here.
                    p it should from elite auther

// chat main end
