
// Chat left sidebar Start 

div.border-r.border-gray-light.h-full.tabs.flex.flex-col.gap-0.left-sidebar-aside(class="dark:border dark:border-border-dark")
  div(class="h-full overflow-auto custom-scroll chat-sidebar-scroll carousel-scroll-hide")
    div.p-4.pb-0(class="dark:bg-sidebar-dark")
      div.flex.items-center.justify-between
        h4.text-xl.font-extrabold(class="dark:text-white") Messages
        i(data-feather="plus" class="block w-8 h-8 p-2 scale-100 stroke-primary bg-gray-light hover:scale-110 dark:bg-sidebar-dark2 lg:hidden")
        i(data-feather="chevrons-left" class="hidden h-6 cursor-pointer stroke-title left-sidebar-toggle lg:block")
    div.p-4.pb-0(class="dark:bg-sidebar-dark")
      div.swiper.basicSlider
        +recent-chat(BIO_DATA)
    div.p-4.pb-0(class="dark:bg-sidebar-dark")
      div.search-box.relative(class="w-full max-w-[480px] rounded-5 overflow-hidden")
        input(class="bg-transparent w-full py-[11px] pl-[25px] pr-[55px] text-xs font-semibold text-title border border-gray-light  dark:bg-sidebar-dark2  dark:border dark:border-border-dark " placeholder="Type to Search..." type="search")       
        +SVG_ICON("Search","w-6 h-6 stroke-title top-1/2 -translate-y-1/2 right-[25px] absolute cursor-pointer")
    div.p-4.pb-0.tab-links.flex.justify-between.mb-1(class="dark:bg-sidebar-dark")
      button.tab.tab-lifted.w-full.pb-3.border-b.border-gray-light.tab-active.font-semibold.text-sm(data-tabFilter="1" class="tab-link leading-[22px] dark:border-b dark:border-border-dark") 
        p Chat
      button.tab.tab-lifted.w-full.pb-3.border-b.border-gray-light.font-semibold.text-sm(data-tabFilter="2" class="tab-link leading-[22px] dark:border-b dark:border-border-dark") 
        p Story
      button.tab.tab-lifted.w-full.pb-3.border-b.border-gray-light.font-semibold.text-sm(data-tabFilter="3" class="tab-link leading-[22px] dark:border-b dark:border-border-dark") 
        p Call
    div.tabs-content(class="dark:bg-sidebar-dark")
      div(data-tabContent="1" class="tab-pan !p-0 !pb-4 !border-0 active show first:rounded-tl-none rounded-5")                                     
        div.p-4.overflow-auto(class="max-h-[639px] custom-scroll")
          +message-data("chat",MESSAGE_DATA)

      div(data-tabContent="2" class="tab-pan !p-0 !pb-4 !border-0 first:rounded-tl-none rounded-5")
        div.p-4.overflow-auto(class="max-h-[639px] custom-scroll")
          +story-data("story",MESSAGE_DATA)

      div(data-tabContent="3" class="tab-pan !p-0 !pb-4 !border-0 first:rounded-tl-none rounded-5")
        div.p-4.overflow-auto(class="max-h-[639px] custom-scroll")
          +call-data("calls",MESSAGE_DATA)

// Chat left sidebar end 