// Video main start

div.h-full.overflow-auto.custom-scroll(class="p-6 h-[856px] lg:h-[830px] 2lg:h-[820px] md:h-[780px] 2md:h-[500px] sm:h-auto")
  div.countdown.flex.gap-1.wrap.items-center.absolute(class="top-[3%] z-[1] left-[5%] text-xl3 2md:left-[7%] 2md:top-[6%] 2sm:top-[10%] 2sm:left-[12%] text-white font-extrabold")
    label#callminutes 00
    span :
    label#callseconds 00
  div.avatar.rounded-xl.relative(class="w-full h-[450px] sm:h-auto")
    img(src='../../assets/images/chat-app/8.jpg' alt='avatar')

  div.video-setting.flex.justify-center.items-center.gap-2.py-6(class="lg:py-4 2md:absolute 2md:bottom-[5%] 2md:left-0 2md:right-0")

    label.swap 
      input(type='checkbox')
      span.text-3xl.swap-on
        +SVG_ICON("Volume-Off" ,"w-[50px] h-[50px] lg:w-[35px] lg:h-[35px] lg:p-[0.5rem] sm:h-[30px] sm:w-[30px] sm:p-[0.35rem] stroke-title cursor-pointer p-[0.90rem] bg-gray-light dark:bg-sidebar-dark2 rounded-full")
      span.text-3xl.swap-off(class="mb-[-9px]")
        +SVG_ICON("Volume-Up" ,"w-[50px] h-[50px] lg:w-[35px] lg:h-[35px] lg:p-[0.5rem] sm:h-[30px] sm:w-[30px] sm:p-[0.35rem] stroke-title cursor-pointer p-[0.90rem] bg-gray-light dark:bg-sidebar-dark2 rounded-full")
    +SVG_ICON("Voice-2","w-[50px] h-[50px] lg:w-[35px] lg:h-[35px] lg:p-[0.5rem] sm:h-[30px] sm:w-[30px] sm:p-[0.35rem] stroke-title cursor-pointer p-[0.90rem] bg-gray-light dark:bg-sidebar-dark2  rounded-full")
    +SVG_ICON("Calling","w-[60px] h-[60px] lg:w-[50px] lg:h-[50px] lg:p-[0.75rem] sm:h-[40px] sm:w-[40px] sm:p-[0.5rem] stroke-white cursor-pointer p-4 bg-danger rounded-full")
    +SVG_ICON("Video","w-[50px] h-[50px] lg:w-[35px] lg:h-[35px] lg:p-[0.5rem] sm:h-[30px] sm:w-[30px] sm:p-[0.35rem] stroke-title cursor-pointer p-[0.90rem] bg-gray-light dark:bg-sidebar-dark2 rounded-full")
    +SVG_ICON("Add-User","w-[50px] h-[50px] lg:w-[35px] lg:h-[35px] lg:p-[0.5rem] sm:h-[30px] sm:w-[30px] sm:p-[0.35rem] stroke-title cursor-pointer p-[0.90rem] bg-gray-light dark:bg-sidebar-dark2 rounded-full")

  div.group-videocall.flex.gap-4.flex-wrap.justify-center.items-center(class="xl:gap-2 lg:gap-4 2md:hidden")
    img(src='../../assets/images/chat-app/9.jpg' alt='women wear black jacket' class="5xl:last:hidden lg:last:block max-w-[223px] 6xl:max-w-[202px]  2xl:max-w-[223px] h-[250px] xl:max-w-[180px] xl:h-[200px] lg:max-w-[223px] lg:h-[250px] 2lg:max-w-[208px] 2lg:max-h-[240px] md:max-w-[178px] md:max-h-[200px] rounded-xl")
    img(src='../../assets/images/chat-app/10.jpg' alt='men in jacket' class="5xl:last:hidden lg:last:block max-w-[223px] 6xl:max-w-[202px]  2xl:max-w-[223px] h-[250px] xl:max-w-[180px] xl:h-[200px] lg:max-w-[223px] lg:h-[250px] 2lg:max-w-[208px] 2lg:max-h-[240px] md:max-w-[178px] md:max-h-[200px] rounded-xl")
    img(src='../../assets/images/chat-app/11.jpg' alt='women in gray shirt' class="5xl:last:hidden lg:last:block max-w-[223px] 6xl:max-w-[202px]  2xl:max-w-[223px] h-[250px] xl:max-w-[180px] xl:h-[200px] lg:max-w-[223px] lg:h-[250px] 2lg:max-w-[208px] 2lg:max-h-[240px] md:max-w-[178px] md:max-h-[200px] rounded-xl")

// Video main end
