/*=====================
  Ratio CSS
==========================*/

.ratio2_3 {
  .bg-size {
    @apply before:block before:pt-[60%];
  }
}
.ratio_36 {
  .bg-size {
    @apply before:block before:pt-[36%];
  }
}
.ratio_19 {
  .bg-size {
    @apply before:block before:pt-[19%];
  }
}
.ratio_47 {
  .bg-size {
    @apply before:block before:pt-[47%];
  }
}
.ratio_56 {
  .bg-size {
    @apply before:block before:pt-[56%];
  }
}
.ratio_80 {
  .bg-size {
    @apply before:block before:pt-[80%];
  }
}
.ratio_asos {
  .bg-size {
    @apply before:block before:pt-[100%];
  }
}
.ratio_109 {
  .bg-size {
    @apply before:block before:pt-[109%];
  }
}

.b-top {
  background-position: top !important;
}
.b-bottom {
  background-position: bottom !important;
}
.b-center {
  background-position: center !important;
}
.b_size_content {
  background-size: contain !important;
  background-repeat: no-repeat;
}

.welcome-card-main{
  &.common-animate-main{
    .bg-img{
      @apply !block;
      .welcome-img{
        @apply mt-[calc(-16px_+_(-81_-_-16)_*_((100vw_-_1600px)_/_(1920_-_1600)))] w-full 4xl:mt-[calc(-50px+_(-110_-_-50)_*_((100vw_-_1200px)_/_(1920_-_1200)))] 4xl:max-h-[300px] xl:mt-[calc(-36px_+__(-300_-_-36)_*_((100vw_-_991px)_/_(1920_-_991)))] lg:mt-[calc(-90px_+__(-150_-_-90)_*_((100vw_-_768px)_/_(1920_-_768)))] lg:h-[300px] 2md:max-h-[300px] 2md:h-unset;
      }
      .common-animate{
        animation-duration: 40000ms;
      }
      [dir="rtl"] & {
        transform: rotateY(180deg);
      }
    }
  }
}
