//- sidebar
-var sidebar = true;

//- feather
-var feather= true;

//- fontAwesome 
-var fontAwesome = true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- Breadcrumbs
-var pageTitle="Gulp";
-var breadcrumb=['Working With Gulp'];

//- mixin
include components/mixin/mixin 

doctype html
html(lang='en')  
    include components/header-files 
    body(dir="ltr" class="unique-skin") 
        main.page-wrapper
            div.page-body-wrapper(class="xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
                header.fixed.top-0(class="z-[6] xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto")
                    div.page-header(class="w-full transition-all bg-white shadow-header dark:bg-sidebar-dark")
                        include components/header  
                        div(class="py-[14px] border-t border-border-light px-body-space dark:border-border-dark") 
                            div.relative.flex.items-center.justify-end(class="lg:justify-start")
                                div.flex.items-center(class="gap-[14px]")
                                    // Breadcrumbs Start 
                                    +breadcrumb(['Working With Gulp'])
                                    // Breadcrumbs End 
                                    div.custom-select.select-style-1(class="lg:hidden dark:text-title")
                                        select(class="dark:text-title")
                                            option(selected value="") Last 7 Days 
                                            option(value="") Last 2 Weeks 
                                            option(value="") Last 1 Month 
                                            option(value="") Last 3 Month     

                // Sidebar Start 
                div.page-sidebar.sidebar-dark.unique-sidebar
                    include components/unique
                    // Sidebar End

                // Page Body Start
                div.page-body
                    div.grid.grid-cols-12.gap-card-gap 
                        div.card.col-span-12     
                            div.card-header.pb-2.header-bottom-border
                                h3.text-lg.font-bold Gulp Task
                            div.card-body      
                                p A toolkit to automate & enhance your workflow 
                                p  Leverage gulp and the flexibility of JavaScript to automate slow, repetitive workflows and compose them into efficient build pipelines.

                                h6(class="mt-6 font-bold")  Installing Node.js

                                p(class="mt-3 text-sm")
                                    | First, you must download and install 
                                    mark  node.js.  
                                    | NPM stands for node packaged modules and
                                    |                   is a way to manage development dependencies through Node.js.
                                p(class="mt-3 text-sm")
                                    | Download the Node.js source code or a pre-built installer for your platform, and start developing,
                                    | you can download it from 
                                    a(href='#') anodejs.org.

                                p(class="mt-3 text-sm")
                                    | You can check it in your terminal window using these commands 
                                    mark node --version 
                                    | and
                                    mark npm --version.
                                h6(class="mt-6 font-bold")  Installing Gulp

                                p(class="mt-3 text-sm")
                                    a(href='#') GulpJS 
                                    | is a toolkit for automating painful or time-consuming tasks in your
                                    |                   development workflow, so you can stop messing around and build something.
                                ul(class="mt-4")
                                    li.d-block
                                        i.fa.fa-angle-right.me-2
                                        | Navigate to the root 
                                        mark main/directory,
                                        |  default
                                    li.d-block
                                        i.fa.fa-angle-right.me-2
                                        | Then use $ 
                                        mark npm i 
                                        |  command 
                                        | (install node js)
                                    li.d-block
                                        i.fa.fa-angle-right.me-2
                                        | $ 
                                        mark gulp 
                                        |  command (for run project)

                                p(class="mt-5 text-sm")
                                    | NPM use the package.json file and automatically install the required local dependencies listed in it.
                                p.warning-block(class="mt-3 text-sm")
                                    strong Dependencies are: 
                                    span(class="text-sm")
                                        | daisyui, gulp-autoprefixer, gulp-livereload, gulp-plumber,
                                        | gulp-pug, gulp-purgecss, gulp-watch, save, tailwindcss-animatecss
                                p(class="mt-3")
                                    | We have added all necessary gulp task in gulpfile.js, for more details about plugin refer this link 
                                    a(href='https://gulpjs.com/plugins/' target='_blank') https://gulpjs.com/plugins/

                                h6(class="mt-6 font-bold")  How to set live reload path
                                p(class="mt-3 text-sm") Go to Gulpfile.js
                                p(class="mt-2 text-sm") Proxy: "localhost/
                                    code Your project name

                // Page Body End 
                div(class=`page-footer 3sm:!px-[10px] fixed bottom-0 xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300 sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap`) 
                    p(class="text-xs font-semibold text-center text-content") Copyright 2023 © Govo theme by pixelstrap
                    div.flex.items-center.gap-2 
                        p(class="text-xs font-semibold text-center text-content") Hand crafted & made with
                        i.fa-solid.fa-heart(class="stroke-danger h-[18px] w-[18px] text-danger")
                include ../../components/customizer

        include ../../layout/footer-files