//- sidebar
-var sidebar = true;

//- feather
-var feather= true;

//- fontAwesome 
-var fontAwesome = true;

//- prism
-var prism=true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- Breadcrumbs
-var pageTitle="Govo";
-var breadcrumb=['Remove Customizer'];

//- mixin
include components/mixin/mixin 

doctype html
html(lang='en')  
    include components/header-files 
    body(dir="ltr" class="unique-skin") 
        main.page-wrapper
            div.page-body-wrapper(class="xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
                header.fixed.top-0(class="z-[6] xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto")
                    div.page-header(class="w-full transition-all bg-white shadow-header dark:bg-sidebar-dark")
                        include components/header  
                        div(class="py-[14px] border-t border-border-light px-body-space dark:border-border-dark") 
                            div.relative.flex.items-center.justify-end(class="lg:justify-start")
                                div.flex.items-center(class="gap-[14px]")
                                    // Breadcrumbs Start 
                                    +breadcrumb(['Remove Customizer'])
                                    // Breadcrumbs End 
                                    div.custom-select.select-style-1(class="lg:hidden dark:text-title")
                                        select(class="dark:text-title")
                                            option(selected value="") Last 7 Days 
                                            option(value="") Last 2 Weeks 
                                            option(value="") Last 1 Month 
                                            option(value="") Last 3 Month     

                // Sidebar Start 
                div.page-sidebar.sidebar-dark.unique-sidebar
                    include components/unique
                // Sidebar End
                // Page Body Start
                div.page-body
                    div.grid.grid-cols-12.gap-card-gap 
                        div.card.col-span-12     
                            div.card-header.pb-2.header-bottom-border
                                h3.text-lg.font-bold Remove Customizer
                                p Follow below steps to remove that button
                            div.card-body  
                                div.flex.flex-col.gap-5      
                                    div
                                        h6(class="font-semibold")  When using Html
                                        div(class="mt-3 ml-5 text-sm")
                                            | 1. Every html file has a customizer section.You just remove that section 
                                            div(class="p-4 mt-4 bg-gray-light dark:bg-sidebar-dark2 sm:p-2")
                                                div(class="overflow-auto text-dark sm:p-2")
                                                    pre(class="text-xs")
                                                        span.block.text-xs &lt;li class=&quot;cursor-pointer flex customizer-btn items-center justify-center 
                                                        |   px-[calc(7px_+_(14_-_7)_*_((100vw_-_320px)_/_(1920_-_320)))] rtl:border-l sm:rtl:last:pl-[calc(7px_+_(14_-_7)_*_((100vw_-_320px)_/_(1920_-_320)))] 
                                                        |   rtl:border-r-0 first:pl-0 last:pr-0 last:border-none sm:last:pr-[calc(7px_+_(14_-_7)_*_((100vw_-_320px)_/_(1920_-_320)))] 
                                                        |   sm:last:border-r sm:last:border-solid border-r border-border-light dark:border-border-dark&quot;&gt;
                                                        span.block.text-xs  ...
                                                        span.block.text-xs &lt;/li&gt;

                                        div(class="mt-5 ml-5 text-sm")
                                            | 2. There is a script in the same file, remove the script from too                              
                                            div(class="p-4 mt-4 bg-gray-light dark:bg-sidebar-dark2 sm:p-2")
                                                div(class="overflow-auto text-dark sm:p-2")
                                                    pre(class="text-xs")
                                                        span.block.text-xs &lt;!-- Template Customizer --&gt;
                                                        span.block.text-xs &lt;script  src=&quot;../../assets/js/customizer.js&quot;&gt;&lt;/script&gt;

                                    div    
                                        h6(class="font-semibold")  When using pug   
                                        p(class="mt-3 ml-5 text-sm")
                                            |   Add the code in the first line of the pug file to remove it from the pug file

                                        div(class="p-4 mt-4 ml-5 bg-gray-light dark:bg-sidebar-dark2 sm:p-2")
                                            div(class="overflow-auto text-dark sm:p-2")
                                                pre(class="text-xs")
                                                    span(class="block text-xs") &quot;-var customizer = false;&quot; 

                // Page Body End 
                div(class=`page-footer 3sm:!px-[10px] fixed bottom-0 xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300 sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap`) 
                    p(class="text-xs font-semibold text-center text-content") Copyright 2023 © Govo theme by pixelstrap
                    div.flex.items-center.gap-2 
                        p(class="text-xs font-semibold text-center text-content") Hand crafted & made with
                        i.fa-solid.fa-heart(class="stroke-danger h-[18px] w-[18px] text-danger")
            include components/customizer

    include components/footer-files