
<!-- Cart Start -->
<div class="dropdown shopping-bag"> <i class="fa-solid fa-cart-shopping w-[calc(18px_+_(24_-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] h-[calc(18px_+_(24_-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-title dark:stroke-white"></i>
  <div class="dropdown-menu !min-w-[320px]">
    <div class="flex items-center justify-between pb-[15px] border-b border-border-light dark:border-border-dark"> 
      <h4 class="text-base font-bold text-title">Cart Items<span class="text-sm font-bold text-content">(25) </span></h4>
      <button class="p-2 transition-all duration-300 rounded-full bg-gray-light dark:bg-sidebar-dark2 group hover:bg-primary dark:hover:bg-primary"><i class="w-[18px] h-[18px] transition-all duration-300 group-hover:stroke-white stroke-title" data-feather="trash"></i></button>
    </div>
    <ul class="flex flex-col max-h-[232px] overflow-auto custom-scroll px-1">
      <li class="cart-item flex items-center gap-3 py-3 rtl:first:!pl-0  rtl:last:!pr-0 transition-all duration-300 border-b last:border-b-0 border-border-light dark:border-border-dark rounded-5"><a class="flex items-center gap-[12px]" href="./product.html">
          <div class="rounded-full relative "><img class="rounded-full min-w-[2.25rem] min-h-[2.25rem] w-full h-auto object-cover" src="../../assets/images/product/1.jpg" alt="Flower Pot"/></div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Flower Pot</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content ">$25.00</p>
          </div></a>
        <div class="flex items-center gap-2 ml-auto">
          <div class="plus-minus flex items-center text-center bg-primary-light border border-primary rounded-5"><i class="sub cursor-pointer w-5 h-5 bg-primary border-r border-primary stroke-white p-[3px]" data-feather="minus"></i>
            <input class="text-center bg-transparent text-title" type="number" value="undefined" min="1" max="10"/><i class="add cursor-pointer w-5 h-5 bg-primary border-l border-primary stroke-white p-[3px]" data-feather="plus"></i>
          </div><i class="remove-cart w-[16px] h-[16px] cursor-pointer transition-all duration-300 hover:stroke-primary stroke-title" data-feather="trash"></i>
        </div>
      </li>
      <li class="cart-item flex items-center gap-3 py-3 rtl:first:!pl-0  rtl:last:!pr-0 transition-all duration-300 border-b last:border-b-0 border-border-light dark:border-border-dark rounded-5"><a class="flex items-center gap-[12px]" href="./product.html">
          <div class="rounded-full relative "><img class="rounded-full min-w-[2.25rem] min-h-[2.25rem] w-full h-auto object-cover" src="../../assets/images/product/2.jpg" alt="Iphone Max pro"/></div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Iphone Max pro</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content ">$35.20</p>
          </div></a>
        <div class="flex items-center gap-2 ml-auto">
          <div class="plus-minus flex items-center text-center bg-primary-light border border-primary rounded-5"><i class="sub cursor-pointer w-5 h-5 bg-primary border-r border-primary stroke-white p-[3px]" data-feather="minus"></i>
            <input class="text-center bg-transparent text-title" type="number" value="undefined" min="1" max="10"/><i class="add cursor-pointer w-5 h-5 bg-primary border-l border-primary stroke-white p-[3px]" data-feather="plus"></i>
          </div><i class="remove-cart w-[16px] h-[16px] cursor-pointer transition-all duration-300 hover:stroke-primary stroke-title" data-feather="trash"></i>
        </div>
      </li>
      <li class="cart-item flex items-center gap-3 py-3 rtl:first:!pl-0  rtl:last:!pr-0 transition-all duration-300 border-b last:border-b-0 border-border-light dark:border-border-dark rounded-5"><a class="flex items-center gap-[12px]" href="./product.html">
          <div class="rounded-full relative "><img class="rounded-full min-w-[2.25rem] min-h-[2.25rem] w-full h-auto object-cover" src="../../assets/images/product/3.jpg" alt="Royal Party Glass"/></div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Royal Party Glass</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content ">$45.10</p>
          </div></a>
        <div class="flex items-center gap-2 ml-auto">
          <div class="plus-minus flex items-center text-center bg-primary-light border border-primary rounded-5"><i class="sub cursor-pointer w-5 h-5 bg-primary border-r border-primary stroke-white p-[3px]" data-feather="minus"></i>
            <input class="text-center bg-transparent text-title" type="number" value="undefined" min="1" max="10"/><i class="add cursor-pointer w-5 h-5 bg-primary border-l border-primary stroke-white p-[3px]" data-feather="plus"></i>
          </div><i class="remove-cart w-[16px] h-[16px] cursor-pointer transition-all duration-300 hover:stroke-primary stroke-title" data-feather="trash"></i>
        </div>
      </li>
      <li class="cart-item flex items-center gap-3 py-3 rtl:first:!pl-0  rtl:last:!pr-0 transition-all duration-300 border-b last:border-b-0 border-border-light dark:border-border-dark rounded-5"><a class="flex items-center gap-[12px]" href="./product.html">
          <div class="rounded-full relative "><img class="rounded-full min-w-[2.25rem] min-h-[2.25rem] w-full h-auto object-cover" src="../../assets/images/product/4.jpg" alt="Water Proof Watch"/></div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Water Proof Watch</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content ">$12.30</p>
          </div></a>
        <div class="flex items-center gap-2 ml-auto">
          <div class="plus-minus flex items-center text-center bg-primary-light border border-primary rounded-5"><i class="sub cursor-pointer w-5 h-5 bg-primary border-r border-primary stroke-white p-[3px]" data-feather="minus"></i>
            <input class="text-center bg-transparent text-title" type="number" value="undefined" min="1" max="10"/><i class="add cursor-pointer w-5 h-5 bg-primary border-l border-primary stroke-white p-[3px]" data-feather="plus"></i>
          </div><i class="remove-cart w-[16px] h-[16px] cursor-pointer transition-all duration-300 hover:stroke-primary stroke-title" data-feather="trash"></i>
        </div>
      </li>
      <li class="cart-item flex items-center gap-3 py-3 rtl:first:!pl-0  rtl:last:!pr-0 transition-all duration-300 border-b last:border-b-0 border-border-light dark:border-border-dark rounded-5"><a class="flex items-center gap-[12px]" href="./product.html">
          <div class="rounded-full relative "><img class="rounded-full min-w-[2.25rem] min-h-[2.25rem] w-full h-auto object-cover" src="../../assets/images/product/5.jpg" alt="Traveling Duffle Bag"/></div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Traveling Duffle Bag</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content ">$32.10</p>
          </div></a>
        <div class="flex items-center gap-2 ml-auto">
          <div class="plus-minus flex items-center text-center bg-primary-light border border-primary rounded-5"><i class="sub cursor-pointer w-5 h-5 bg-primary border-r border-primary stroke-white p-[3px]" data-feather="minus"></i>
            <input class="text-center bg-transparent text-title" type="number" value="undefined" min="1" max="10"/><i class="add cursor-pointer w-5 h-5 bg-primary border-l border-primary stroke-white p-[3px]" data-feather="plus"></i>
          </div><i class="remove-cart w-[16px] h-[16px] cursor-pointer transition-all duration-300 hover:stroke-primary stroke-title" data-feather="trash"></i>
        </div>
      </li>
    </ul>
    <div class="pt-[15px] border-t border-light dark:border-border-dark dark:border-t">
      <div class="flex items-center justify-between mb-[15px]"> 
        <h4 class="text-sm font-semibold">Bag Total </h4><span class="text-sm font-semibold">$250.00 </span>
      </div><a class="block w-full py-2 text-sm font-semibold leading-none text-white btn btn-primary" href="checkout.html">Proceed to Checkout </a>
    </div>
  </div>
</div>
<!-- Cart end -->