
<!-- Language Start -->
<div class="language-select dropdown group"> 
  <button class="flex items-center max-w-[87px] min-w-[87px] md:min-w-[47px] gap-[11px]" id="language-select"><img class="w-[35px] sm:w-[30px] h-auto" src="../../assets/images/flag/en.svg" alt="flag"/><span class="flex items-center gap-1 text-lg font-bold 4xl:text-base dark:text-white md:hidden">En</span><i class="w-[6px] h-[4px] stroke-title group-hover:rotate-180 duration-300 transition-all dark:stroke-white" data-feather="chevron-down"></i></button>
  <ul class="language-menu dropdown-menu flex flex-col gap-3 !min-w-[145px]">
    <li class="language-option flex items-center gap-2 cursor-pointer" data-value="En"> <img class="w-[32px] h-auto" src="../../assets/images/flag/en.svg" alt="flag"/><span class="flex items-center gap-1 text-xs font-bold transition-all duration-300 hover:text-primary">
         English</span></li>
    <li class="language-option flex items-center gap-2 cursor-pointer" data-value="Fr"><img class="w-[32px] h-auto" src="../../assets/images/flag/fr.svg" alt="flag"/><span class="flex items-center gap-1 text-xs font-bold transition-all duration-300 hover:text-primary">
         French</span></li>
    <li class="language-option flex items-center gap-2 cursor-pointer" data-value="Es"> <img class="w-[32px] h-auto" src="../../assets/images/flag/es.svg" alt="flag"/><span class="flex items-center gap-1 text-xs font-bold transition-all duration-300 hover:text-primary">
         Spanich</span></li>
    <li class="language-option flex items-center gap-2 cursor-pointer" data-value="Ar"> <img class="w-[32px] h-auto" src="../../assets/images/flag/sa.svg" alt="flag"/><span class="flex items-center gap-1 text-xs font-bold transition-all duration-300 hover:text-primary">
         Arabic</span></li>
  </ul>
</div>
<!-- Language End -->