
<!-- Notification Start -->
<div class="dropdown">
  <div class="indicator flex"><span class="indicator-item badge bg-success p-0 right-[4px] top-0 border-[2px] border-white w-[8px] h-[8px] rounded-full"></span><i class="w-[calc(18px_+_(24_-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] h-[calc(18px_+_(24_-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-title dark:stroke-white" data-feather="bell"></i></div>
  <div class="dropdown-menu !min-w-[280px] sm:!-right-[163px] rtl:sm:!-left-[163px] rtl:sm:!right-unset"> 
    <div class="flex items-center justify-between pb-[15px] border-b border-border-light"> 
      <h4 class="text-base font-bold text-title">Notification</h4>
      <button class="font-medium text-primary text-3xs">
         Mark All As Read</button>
    </div>
    <div class="search-box relative mt-4"> 
      <input class="bg-gray-light border dark:bg-sidebar-dark2  dark:border-border-dark border-border-light  w-full py-[8px] pl-[15px] pr-[30px] rounded-5 text-xs font-medium text-title" placeholder="Type to Search..." type="search"/><i class="w-4 h-4 stroke-title top-1/2 -translate-y-1/2 right-[15px] absolute" data-feather="search"></i>
    </div>
    <ul class="mt-4 flex flex-col max-h-[232px] overflow-auto custom-scroll"> 
      <li class="flex items-center gap-3 px-2 py-3 transition-all duration-300 border-b last:border-b-0 dark:hover:bg-sidebar-dark2 border-border-light hover:bg-gray-light rounded-5"><a class="flex items-center gap-[12px]" href="./chat.html">
          <div class="indicator"> <span class="chat-status status-online"></span>
            <div class="avatar">
              <div class="w-10 rounded-full h-10 xl:w-9 xl:h-9"><img src="../../assets/images/avatar/2.jpg" alt="Dmitriy Groshev"/></div>
            </div>
          </div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Dmitriy Groshev</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content">Hi, i am josephin. How are you... </p>
          </div></a>
        <div class="flex flex-col items-end gap-1 ml-auto"><span class="font-normal text-3xs text-content">17:12</span><span class="leading-none p-1 badge bg-primary rounded-full text-3xs flex items-center justify-center min-w-[22px] min-h-[22px]">3</span>
        </div>
      </li>
      <li class="flex items-center gap-3 px-2 py-3 transition-all duration-300 border-b last:border-b-0 dark:hover:bg-sidebar-dark2 border-border-light hover:bg-gray-light rounded-5"><a class="flex items-center gap-[12px]" href="./chat.html">
          <div class="indicator"> <span class="chat-status status-offline"></span>
            <div class="avatar">
              <div class="w-10 rounded-full h-10 xl:w-9 xl:h-9"><img src="../../assets/images/avatar/3.jpg" alt="Sufiya Elija"/></div>
            </div>
          </div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Sufiya Elija</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content">I need job, Please help me.</p>
          </div></a>
        <div class="flex flex-col items-end gap-1 ml-auto"><span class="font-normal text-3xs text-content">Fri</span><span class="leading-none p-1 badge bg-primary rounded-full text-3xs flex items-center justify-center min-w-[22px] min-h-[22px]">32</span>
        </div>
      </li>
      <li class="flex items-center gap-3 px-2 py-3 transition-all duration-300 border-b last:border-b-0 dark:hover:bg-sidebar-dark2 border-border-light hover:bg-gray-light rounded-5"><a class="flex items-center gap-[12px]" href="./chat.html">
          <div class="indicator"> <span class="chat-status status-online"></span>
            <div class="avatar">
              <div class="w-10 rounded-full h-10 xl:w-9 xl:h-9"><img src="../../assets/images/avatar/5.jpg" alt="Janis Evans"/></div>
            </div>
          </div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Janis Evans</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content">Good Morning!</p>
          </div></a>
        <div class="flex flex-col items-end gap-1 ml-auto"><span class="font-normal text-3xs text-content">8:22</span><span class="leading-none p-1 badge bg-primary rounded-full text-3xs flex items-center justify-center min-w-[22px] min-h-[22px]">12</span>
        </div>
      </li>
      <li class="flex items-center gap-3 px-2 py-3 transition-all duration-300 border-b last:border-b-0 dark:hover:bg-sidebar-dark2 border-border-light hover:bg-gray-light rounded-5"><a class="flex items-center gap-[12px]" href="./chat.html">
          <div class="indicator"> <span class="chat-status status-online"></span>
            <div class="avatar">
              <div class="w-10 rounded-full h-10 xl:w-9 xl:h-9"><img src="../../assets/images/avatar/4.jpg" alt="Mukrani Pabelo"/></div>
            </div>
          </div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Mukrani Pabelo</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content">Hi, i am josephin. How are you...</p>
          </div></a>
        <div class="flex flex-col items-end gap-1 ml-auto"><span class="font-normal text-3xs text-content">03:14</span><span class="leading-none p-1 badge bg-primary rounded-full text-3xs flex items-center justify-center min-w-[22px] min-h-[22px]">10</span>
        </div>
      </li>
      <li class="flex items-center gap-3 px-2 py-3 transition-all duration-300 border-b last:border-b-0 dark:hover:bg-sidebar-dark2 border-border-light hover:bg-gray-light rounded-5"><a class="flex items-center gap-[12px]" href="./chat.html">
          <div class="indicator"> <span class="chat-status status-offline"></span>
            <div class="avatar">
              <div class="w-10 rounded-full h-10 xl:w-9 xl:h-9"><img src="../../assets/images/avatar/2.jpg" alt="Josephin Water"/></div>
            </div>
          </div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Josephin Water</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content">You’ve got some kind of a stom...</p>
          </div></a>
        <div class="flex flex-col items-end gap-1 ml-auto"><span class="font-normal text-3xs text-content">Thu</span><span class="leading-none p-1 badge bg-primary rounded-full text-3xs flex items-center justify-center min-w-[22px] min-h-[22px]">2</span>
        </div>
      </li>
      <li class="flex items-center gap-3 px-2 py-3 transition-all duration-300 border-b last:border-b-0 dark:hover:bg-sidebar-dark2 border-border-light hover:bg-gray-light rounded-5"><a class="flex items-center gap-[12px]" href="./chat.html">
          <div class="indicator"> <span class="chat-status status-online"></span>
            <div class="avatar">
              <div class="w-10 rounded-full h-10 xl:w-9 xl:h-9"><img src="../../assets/images/avatar/5.jpg" alt="Janis Evans"/></div>
            </div>
          </div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Janis Evans</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content">Good Morning!</p>
          </div></a>
        <div class="flex flex-col items-end gap-1 ml-auto"><span class="font-normal text-3xs text-content">8:22</span><span class="leading-none p-1 badge bg-primary rounded-full text-3xs flex items-center justify-center min-w-[22px] min-h-[22px]">12</span>
        </div>
      </li>
      <li class="flex items-center gap-3 px-2 py-3 transition-all duration-300 border-b last:border-b-0 dark:hover:bg-sidebar-dark2 border-border-light hover:bg-gray-light rounded-5"><a class="flex items-center gap-[12px]" href="./chat.html">
          <div class="indicator"> <span class="chat-status status-offline"></span>
            <div class="avatar">
              <div class="w-10 rounded-full h-10 xl:w-9 xl:h-9"><img src="../../assets/images/avatar/3.jpg" alt="Sufiya Elija"/></div>
            </div>
          </div>
          <div>
            <h4 class="text-xs font-semibold line-clamp-1 text-title">Sufiya Elija</h4>
            <p class="text-xs font-semibold line-clamp-1 text-content">I need job, Please help me.</p>
          </div></a>
        <div class="flex flex-col items-end gap-1 ml-auto"><span class="font-normal text-3xs text-content">Fri</span><span class="leading-none p-1 badge bg-primary rounded-full text-3xs flex items-center justify-center min-w-[22px] min-h-[22px]">32</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Notification End -->