//- sidebar
-var sidebar = true;

//- feathet
-var feather= true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- prism
-var prism=true;

//- Breadcrumbs
-var pageTitle="Badge";
-var breadcrumb=['Ui Kits','Badge'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
   include ../../layout/header-files 
   body(dir="ltr" class="unique-skin") 
      main.page-wrapper
         div.page-body-wrapper(class="2xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
            include ../../layout/header/header     
            // Sidebar Start 
            div.page-sidebar.sidebar-dark.unique-sidebar
               include ../../layout/unique
            // Sidebar End 

            // Page Body Start 
            div.page-body
               div.grid.grid-cols-12.gap-card-gap
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Badge
                              p Use the  
                                 strong .badge 
                                 |  class to add badge.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2 
                                    div.badge.bg-primary.text-white.rounded-full Primary
                                    div.badge.bg-secondary.text-white.rounded-full Secondary
                                    div.badge.bg-info.text-white.rounded-full Info
                                    div.badge.bg-success.text-white.rounded-full Success
                                    div.badge.bg-warning.text-white.rounded-full Warning
                                    div.badge.bg-danger.text-white.rounded-full Danger
                                    div.badge.bg-light.text-title.rounded-full Light 
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap gap-2"&gt; 
                                       |    &lt;div class="text-white rounded-full badge bg-primary"&gt;Primary&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded-full badge bg-secondary"&gt;Secondary&lt;/div&gt;
                                       |    &lt;div class="text-white rounded-full badge bg-info"&gt;Info&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded-full badge bg-success"&gt;Success&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded-full badge bg-warning"&gt;Warning&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded-full badge bg-danger"&gt;Danger&lt;/div&gt;
                                       |    &lt;div class="rounded-full badge bg-light text-title"&gt;Light&lt;/div&gt; 
                                       |&lt;/div&gt; 
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Rounded
                              p Use the  
                                 strong .rounded 
                                 |  utility class to set the rounded badge.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2 
                                    div.badge.bg-primary.text-white.rounded Primary
                                    div.badge.bg-secondary.text-white.rounded Secondary
                                    div.badge.bg-info.text-white.rounded Info
                                    div.badge.bg-success.text-white.rounded Success
                                    div.badge.bg-warning.text-white.rounded Warning
                                    div.badge.bg-danger.text-white.rounded Danger
                                    div.badge.bg-light.text-title.rounded Light 
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap gap-2"&gt; 
                                       |    &lt;div class="text-white rounded badge bg-primary"&gt;Primary&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded badge bg-secondary"&gt;Secondary&lt;/div&gt;
                                       |    &lt;div class="text-white rounded badge bg-info"&gt;Info&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded badge bg-success"&gt;Success&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded badge bg-warning"&gt;Warning&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded badge bg-danger"&gt;Danger&lt;/div&gt;
                                       |    &lt;div class="rounded badge bg-light text-title"&gt;Light&lt;/div&gt; 
                                       |&lt;/div&gt; 
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Outlined
                              p  Use the 
                                 strong .border 
                                 |  class to set the Outlined badge.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2 
                                    div.badge.border.border-primary.text-primary.rounded Primary
                                    div.badge.border.border-secondary.text-secondary.rounded Secondary
                                    div.badge.border.border-info.text-info.rounded Info
                                    div.badge.border.border-success.text-success.rounded Success
                                    div.badge.border.border-warning.text-warning.rounded Warning
                                    div.badge.border.border-danger.text-danger.rounded Danger
                                    div.badge.border.border-light.text-title.rounded Light 
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap gap-2"&gt; 
                                       |    &lt;div class="border rounded badge border-primary text-primary"&gt;Primary&lt;/div&gt; 
                                       |    &lt;div class="border rounded badge border-secondary text-secondary"&gt;Secondary&lt;/div&gt;
                                       |    &lt;div class="border rounded badge border-info text-info"&gt;Info&lt;/div&gt; 
                                       |    &lt;div class="border rounded badge border-success text-success"&gt;Success&lt;/div&gt; 
                                       |    &lt;div class="border rounded badge border-warning text-warning"&gt;Warning&lt;/div&gt; 
                                       |    &lt;div class="border rounded badge border-danger text-danger"&gt;Danger&lt;/div&gt;
                                       |    &lt;div class="border rounded badge border-light text-title"&gt;Light&lt;/div&gt; 
                                       |&lt;/div&gt;
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold With Dots
                              p Use 
                                 strong .badge 
                                 | class to set dots with badge.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2 
                                    div.flex.items-center.flex-wrap.gap-2.badge.bg-primary.text-white.rounded-full.badge-md 
                                       div(class="w-1 h-1 bg-current rounded-full")
                                       span.leading-none Primary
                                    div.flex.items-center.flex-wrap.gap-2.badge.bg-secondary.text-white.rounded-full.badge-md 
                                       div(class="w-1 h-1 bg-current rounded-full")
                                       span.leading-none Secondary
                                    div.flex.items-center.flex-wrap.gap-2.badge.bg-info.text-white.rounded-full.badge-md 
                                       div(class="w-1 h-1 bg-current rounded-full")    
                                       span.leading-none Info
                                    div.flex.items-center.flex-wrap.gap-2.badge.bg-success.text-white.rounded-full.badge-md 
                                       div(class="w-1 h-1 bg-current rounded-full")
                                       span.leading-none Success
                                    div.flex.items-center.flex-wrap.gap-2.badge.bg-warning.text-white.rounded-full.badge-md 
                                       div(class="w-1 h-1 bg-current rounded-full")
                                       span.leading-none Warning
                                    div.flex.items-center.flex-wrap.gap-2.badge.bg-danger.text-white.rounded-full.badge-md 
                                       div(class="w-1 h-1 bg-current rounded-full")
                                       span.leading-none Danger
                                    div.flex.items-center.flex-wrap.gap-2.badge.bg-light.text-title.rounded-full.badge-md 
                                       div(class="w-1 h-1 bg-current rounded-full")
                                       span.leading-none Light
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap gap-2"&gt; 
                                       |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded-full badge bg-primary badge-md"&gt;; 
                                       |      &lt;div class="w-1 h-1 bg-current rounded-full"&gt;&lt;/div&gt;
                                       |      &lt;span class="leading-none"&gt; Primary &lt;/span&gt;  
                                       |    &lt;/div&gt;
                                       |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded-full badge bg-secondary badge-md"&gt; 
                                       |      &lt;div class="w-1 h-1 bg-current rounded-full"&gt;&lt;/div&gt;
                                       |      &lt;span class="leading-none"&gt; Secondary &lt;/span&gt;  
                                       |    &lt;/div&gt;
                                       |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded-full badge bg-nnfo badge-md"&gt; 
                                       |      &lt;div class="w-1 h-1 bg-current rounded-full"&gt;&lt;/div&gt;
                                       |      &lt;span class="leading-none"&gt; Info &lt;/span&gt;  
                                       |    &lt;/div&gt;
                                       |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded-full badge bg-success badge-md"&gt; 
                                       |      &lt;div class="w-1 h-1 bg-current rounded-full"&gt;&lt;/div&gt;
                                       |      &lt;span class="leading-none"&gt; Success &lt;/span&gt;  
                                       |    &lt;/div&gt;
                                       |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded-full badge bg-warning badge-md"&gt; 
                                       |      &lt;div class="w-1 h-1 bg-current rounded-full"&gt;&lt;/div&gt;
                                       |      &lt;span class="leading-none"&gt; Warning &lt;/span&gt;  
                                       |    &lt;/div&gt;
                                       |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded-full badge bg-danger badge-md"&gt; 
                                       |      &lt;div class="w-1 h-1 bg-current rounded-full"&gt;&lt;/div&gt;
                                       |      &lt;span class="leading-none"&gt; Danger &lt;/span&gt;  
                                       |    &lt;/div&gt;
                                       |    &lt;div class="flex flex-wrap items-center gap-2 rounded-full badge bg-light text-title badge-md"&gt; 
                                       |      &lt;div class="w-1 h-1 bg-current rounded-full"&gt;&lt;/div&gt;
                                       |      &lt;span class="leading-none"&gt; Light &lt;/span&gt;  
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt; 
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Sizes
                              p Use the 
                                 strong .badge-* 
                                 |  class to set the size of badge.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.items-center.flex-wrap.gap-2
                                    div.badge.bg-primary.badge-lg.text-white.rounded Badge-lg
                                    div.badge.bg-primary.badge-md.text-white.rounded Badge-md
                                    div.badge.bg-primary.badge-sm.text-white.rounded Badge-sm
                                    div.badge.bg-primary.badge-xs.text-white.rounded Badge-xs
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap gap-2"&gt; 
                                       |    &lt;div class="text-white rounded badge bg-primary badge-lg"&gt;Badge-lg&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded badge bg-primary badge-md"&gt;Badge-ms&lt;/div&gt;
                                       |    &lt;div class="text-white rounded badge bg-primary badge-sm"&gt;Badge-sm&lt;/div&gt; 
                                       |    &lt;div class="text-white rounded badge bg-primary badge-xs"&gt;Badge-xs&lt;/div&gt; 
                                       |&lt;/div&gt;                      
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold With Icon
                              p Set badge with icon using 
                                 strong  .badge 
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.items-center.flex-wrap.gap-2
                                    div.badge.badge-md.flex.flex-wrap.items-center.gap-2.bg-warning.text-white.rounded
                                       +SVG_ICON("Danger","w-[1.125rem] h-[1.125rem] stroke-white")
                                       span.text-sm Warning
                                    div.badge.badge-md.flex.flex-wrap.items-center.gap-2.bg-danger.text-white.rounded
                                       span.text-sm Remove
                                       +SVG_ICON("Close-Square","w-[1.125rem] h-[1.125rem] stroke-white")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                    |&lt;div class="flex flex-wrap items-center gap-2"&gt; 
                                    |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded badge badge-md bg-warning"&gt; 
                                    |       +SVG_ICON("Danger","w-[1.125rem] h-[1.125rem] stroke-white")
                                    |       &lt;span class="text-sm"&gt;Warning&lt;/span&gt; 
                                    |    &lt;/div&gt;
                                    |    &lt;div class="flex flex-wrap items-center gap-2 text-white rounded badge badge-md bg-danger"&gt; 
                                    |       &lt;span class="text-sm"&gt;Remove&lt;/span&gt;
                                    |       +SVG_ICON("Close-Square","w-[1.125rem] h-[1.125rem] stroke-white")
                                    |    &lt;/div&gt;
                                    |&lt;/div&gt;
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold With Button
                              p Use the 
                                 strong .badge 
                                 | & 
                                 strong .btn 
                                 | class to set badge with button.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.items-center.flex-wrap.gap-2
                                    button.btn.btn-info.text-white.flex.flex-wrap.items-center.gap-2 Notification
                                       span.badge.badge-xs.bg-white.text-title.rounded +99
                                    button.btn.btn-secondary.text-white.flex.flex-wrap.items-center.gap-2 Inbox
                                       span.badge.badge-xs.bg-white.text-title.rounded +50
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap items-center gap-2"&gt; 
                                       |    &lt;button class="flex flex-wrap items-center gap-2 text-white btn btn-info"&gt;Notification&lt;/button&gt; 
                                       |      &lt;span class="bg-white rounded badge badge-xs text-title"&gt;+99&lt;/span&gt;
                                       |    &lt;button class="flex flex-wrap items-center gap-2 text-white btn btn-secondary"&gt;Info&lt;/button&gt; 
                                       |      &lt;span class="bg-white rounded badge badge-xs text-title"&gt;+50&lt;/span&gt; 
                                       |&lt;/div&gt;
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold With Text
                              p You the 
                                 strong .badge 
                                 | class to set the badge With Text. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.flex-col.gap-1
                                    p.text-sm.flex.items-center.gap-2 Here, the latest news 
                                       span.badge.badge-xs.bg-primary.rounded-full News
                                    p.text-sm.flex.items-center.gap-2 click on, for new update
                                       span.badge.badge-sm.bg-primary.rounded-full Update
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap gap-1"&gt; 
                                       |    &lt;p class="flex items-center gap-2 text-sm"&gt;  Here, the latest news
                                       |       &lt;span class="rounded-full badge badge-xs bg-primary"&gt;News&lt;/span&gt; 
                                       |    &lt;/p&gt;
                                       |    &lt;p class="flex items-center gap-2 text-sm"&gt;  click on, for new update
                                       |       &lt;span class="rounded-full badge badge-sm bg-primary"&gt;Update&lt;/span&gt; 
                                       |    &lt;/p&gt;
                                       |&lt;/div&gt;
            // Page Body End 
            +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")

   include ../../components/customizer
   include ../../layout/footer-files
