//- sidebar
-var sidebar = true;

//- feather
-var feather= true;

//- custom select
-var customSelect = true;

//- customizer 
-var customizer = true;

//- Breadcrumbs
-var pageTitle="Cart";
-var breadcrumb=['Ecommerce','Cart'];

//- all JSON  
include ../../data/all-data

//- all mixin   
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../layout/header-files
  body(dir="ltr" class="unique-skin")
    main.page-wrapper
      div.page-body-wrapper(class="xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
        include ../../layout/header/header     
        // Sidebar Start 
        div.page-sidebar.sidebar-dark.unique-sidebar
          include ../../layout/unique 
        // Sidebar End 

        // Page Body Start
        div.page-body
          div.grid.grid-cols-12.gap-card-gap
            div.col-span-9(class="xl:col-span-8 lg:col-span-12")
              div.card
                div.overflow-auto.custom-scroll   
                  include ../../components/table/cart-table 
            div.col-span-3(class="xl:col-span-4 lg:col-span-12")
              div.card.sticky.top-0 
                div.card-header(class="border-b border-border-light dark:border-sidebar-dark2")
                  h3(class="mb-2 font-bold text-title") Cart Information 
                div.card-body.flex.flex-col.gap-2 
                  div.flex.flex-col.gap-1(class="pb-4 border-b border-border-light dark:border-sidebar-dark2") 
                    label(for="coupon-code").font-bold.text-xs.text-primary Apply Coupon Code
                    div.flex.items-center.justify-center 
                      input(type="text" placeholder="Enter code" class="p-[11px] dark:bg-sidebar-dark2 dark:text-white dark:border-border-dark" id="coupon-code").w-full.rounded-br-none.rounded-tr-none.border.border-border-light.rounded-5.text-xs.text-content(class="rtl:rounded-br-5 rtl:rounded-bl-none rtl:rounded-tr-5 rtl:rounded-tl-none")
                      span.flex.items-center.justify-center.bg-primary.text-white.rounded-5.border-none.rounded-bl-none.rounded-tl-none.font-medium.text-xs(class="py-[12px] px-[11px] rtl:rounded-bl-5 rtl:rounded-br-none rtl:rounded-tr-none rtl:rounded-tl-5") Apply
                  ul.flex.flex-col.gap-2(class="py-1 pb-4 border-b border-border-light dark:border-sidebar-dark2")
                    li.flex.items-center.justify-between.text-content.font-bold
                      h6 Subtotal
                      h6 $511 
                    li.flex.items-center.justify-between.text-secondary.font-bold
                      h6 Coupon Discount
                      h6 (-)0.00 
                    li.flex.items-center.justify-between.text-content.font-bold
                      h6 Shipping 
                      h6 $6.90 
                  ul.flex.flex-col.gap-2 
                    li.flex.items-center.justify-between.text-primary.font-extrabold 
                      h6 Total(USD) 
                      h6 $345  
                div.card-footer 
                  div.flex.flex-col.gap-3 
                    a(href="checkout.html")
                      button.btn.btn-secondary.w-full.text-white Process To Checkout
                    a(href="shop.html")
                      button.btn.btn-primary.text-white.w-full.flex.justify-center.items-center.gap-2  
                        i(data-feather="arrow-left" class="w-5 h-5 stroke-white")
                        | Back to Shopping
        // Page Body End  
        +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")
      include ../../components/customizer
  include ../../layout/footer-files