
//- feathet
-var feather= true;

//- customSelect
-var customSelect= true;

doctype html
html(lang='en')
    include ../../layout/header-files
    body(dir="ltr" class="unique-skin")
        main.page-wrapper
            // Page Body Start
            div.page-body(class="h-[100vh]")
                div(class="!flex items-center justify-center h-full p-[.9375rem] common-animate-main").ratio_asos
                    img(class="bg-img" src="../../assets/images/dotsbg.jpg")
                    div(class=" grid grid-cols-12 gap-0 mx-auto w-full max-w-[70%] xl:max-w-[50%] md:max-w-[70%] sm:max-w-[80%] 2sm:max-w-[100%] xl:flex xl:justify-center items-center")
                        div(class="relative col-span-5 bg-white 2xl:col-span-6 z-1 xl:col-span-12 rounded-xl max-w-[29.375rem] min-w-[18.75rem] h-max")
                            form.theme-form.flex.flex-col.gap-3(class="!m-0 p-8 2sm:p-4" action="index.html")
                                h3 Coming Soon!!
                                p(class="!mb-4") We're working hard to give you the best experience!
                                div.flex.justify-center(class="mb-[20px]")
                                    div.p-4(class="sm:p-2")
                                        ul.timer.countdown-6.flex.flex-wrap(class="gap-5 3xl:gap-3")
                                            li
                                                span.days.time-value
                                                span.timer-label Days
                                            li
                                                span.hours.time-value
                                                span.timer-label Hours
                                            li
                                                span.minutes.time-value
                                                span.timer-label Min 
                                            li
                                                span.seconds.time-value 
                                                span.timer-label Sec
                                div
                                    input(type="email" placeholder="Enter your id.." required)
                                button.btn.btn-primary.text-white(class="hover:drop-shadow-lg !mt-2 !mb-3") Notify Me
                                div.flex.items-center.gap-1
                                    i(data-feather="chevrons-left" class="w-5 h-5 stroke-primary")
                                    a(href="index.html")  Back
                        div(class="col-span-7 rounded-lg 2xl:col-span-6 xl:col-span-12 xl:hidden")
                            div(class="relative flex items-center justify-center")
                                img(src="../../assets/images/svg/comingsoon.svg" class="w-full" alt="coming soon")
                                img(src="../../assets/images/svg/comingsoon2.svg" class="common-animate animate-ping bottom-[14%] absolute right-[19%] w-[32%] animate__infinite animate__shakeY")
            // Page Body End

        include ../../components/customizer   

    include ../../layout/footer-files