//- sidebar
-var sidebar = true;

//- feather
-var feather= true;

//- fontawesome
-var fontAwesome=true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- highligher
-var highlighter=true;

//- Icon Copy
-var iconCopy=true;

//- Breadcrumbs
-var pageTitle="Font Awesome";
-var breadcrumb=['Icons','Font Awesome'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
   include ../../layout/header-files 
   body(dir="ltr" class="unique-skin") 
      main.page-wrapper
         div.page-body-wrapper(class="xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
            include ../../layout/header/header     
            // Sidebar Start 
            div.page-sidebar.sidebar-dark.unique-sidebar
               include ../../layout/unique
            // Sidebar End 

            // Page Body Start
            div.page-body
               div.grid.grid-cols-12.gap-card-gap.icon-event.fontawesome-event
                  div.col-span-12
                     div.card
                        div.card-header.border-b-0
                           h3.text-lg.font-bold Font Awesome Icons
                        div.card-body 
                           div(class="grid grid-cols-12 gap-4 2sm:gap-2") 
                              each icon in FONT_AWESOME_LIST
                                 div.col-span-2(class="2xl:col-span-3 md:col-span-4 sm:col-span-6")  
                                    +icon-box("fontAwesome",icon)
            // Page Body End 
            +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")
      include ../../components/customizer

   include ../../layout/footer-files 
