//- sidebar
-var sidebar = true;

//- feathet
-var feather= true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- prism
-var prism=true;

//- Breadcrumbs
-var pageTitle="Indicator";
-var breadcrumb=['Ui Kits','Indicator'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
   include ../../layout/header-files 
   body(dir="ltr" class="unique-skin") 
      main.page-wrapper
         div.page-body-wrapper(class="2xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
            include ../../layout/header/header     
            // Sidebar Start 
            div.page-sidebar.sidebar-dark.unique-sidebar
               include ../../layout/unique
            // Sidebar End 

            // Page Body Start 
            div.page-body
               div.grid.grid-cols-12.gap-card-gap
                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Indicator
                              p Set indicator using 
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator.mt-2
                                       span.offline-status
                                       div.grid.bg-gray-light.text-title.w-28.h-20.place-content-center.p-2 Centent Box
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="mt-2 indicator"&gt;
                                       |       &lt;span class="offline-status"&gt;&lt;/span&gt;
                                       |       &lt;div class="grid p-2 bg-gray-light text-title w-28 h-28 place-content-center"&gt; Content Box &lt;/div&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Active Indicator
                              p Set active status indicator using 
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator.mt-2
                                       span.active-status
                                       div.grid.bg-gray-light.text-title.w-20.h-20.place-content-center.rounded-full Avatar
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="mt-2 indicator"&gt;
                                       |       &lt;span class="active-status"&gt;&lt;/span&gt;
                                       |       &lt;div class="grid rounded-full bg-gray-light text-title w-28 h-28 place-content-center"&gt; Avatar &lt;/div&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Badge as Indicator
                              p Set badge as indicator using 
                                 strong .indicator  
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator.mt-2
                                       span.indicator-item.badge.bg-secondary.text-white.rounded-full(class="top-[-0.9375rem] right-[-2.125rem] rtl:left-[-2.125rem] rtl:right-unset !py-1 !px-2") Update
                                       div.grid.bg-gray-light.text-title.w-28.h-20.place-content-center.p-2 Latest
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="mt-2 indicator"&gt;
                                       |       &lt;span class="indicator-item badge bg-secondary text-white rounded-full top-[-0.9375rem] right-[-2.125rem] rtl:left-[-2.125rem] rtl:right-unset !py-1 !px-2"&gt; Update &lt;/span&gt;
                                       |       &lt;div class="grid h-20 p-2 bg-gray-light text-title w-28 place-content-center"&gt; Latest Version &lt;/div&gt;
                                       |   &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Active Chat
                              p You can set chat indicator using 
                                 strong .indicator  
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator.mt-2
                                       p.indicator-item.active-process.waving-text.w-max 
                                          span T 
                                          span y
                                          span p 
                                          span i 
                                          span n 
                                          span g 
                                          span . 
                                          span . 
                                       div.w-12.rounded
                                          img(class="rounded-full" src="../../assets/images/avatar/20.jpg" alt="avatar")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="mt-2 indicator"&gt;
                                       |       &lt;span class="indicator-item active-process"&gt; Typing.. &lt;/span&gt;
                                       |       &lt;div class="w-12 rounded"&gt;
                                       |           &lt;img class="rounded-full" src="../../image.jpg" alt="avatar"/&gt;
                                       |       &lt;/div&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Notify
                              p Set notification indicator using 
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator.mt-2
                                       span.indicator-item.badge.bg-white.border-2.shadow-lg.text-title.rounded-full(class="top-[-0.9375rem] right-[-1.25rem] rtl:right-unset rtl:left-[-1.25rem] !py-1 !px-2 !border-gray-light") +99
                                       button.btn.btn-info.text-white Notification

                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="mt-2 indicator"&gt;
                                       |       &lt;span class="indicator-item badge bg-white border-2 !border-gray-light shadow-lg text-title rounded-full top-[-0.9375rem] right-[-1.25rem] rtl:right-unset rtl:left-[-1.25rem] !py-1 !px-2"&gt; +99 &lt;/span&gt;
                                       |       &lt;button class="text-white btn btn-info"&gt; Notification &lt;/button&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Icon as Indicator
                              p Use icon as indicator using 
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator
                                       button.btn.btn-success.text-white.flex.justify-center.items-center.gap-1 GOVO
                                          +SVG_ICON("Arrow-Right-2","h-5 w-5 stroke-white")

                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="indicator"&gt;
                                       |       &lt;button class="flex items-center justify-center gap-1 text-white btn btn-success"&gt; GOVO 
                                       |           +SVG_ICON("Arrow-Right-2","h-5 w-5 stroke-white")
                                       |       &lt;/button&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Input Indicator
                              p Add badge as indicator for input using 
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator.mt-2
                                       span.indicator-item.badge.bg-secondary.text-white.rounded-full(class="top-[-0.9375rem] right-[-2.125rem] rtl:left-[-2.125rem] rtl:right-unset !py-1 !px-2") Required
                                       input(type="email" placeholder="Enter your id.." class="bg-gray-light rounded-5 w-full py-[0.6875rem] pl-[1.5625rem] sm:pl-[0.625rem] pr-[3.4375rem] sm:pr-0 text-xs font-semibold text-title")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="mt-2 indicator"&gt;
                                       |       &lt;span class="indicator-item badge bg-secondary text-white rounded-full top-[10.9375rem] right[-2.125rem] rtl:left-[-2.125rem] rtl:right-unset !py-1 !px-2"&gt; Required &lt;/span&gt;
                                       |       &lt;input type="email" placeholder="Enter your id.." class="bg-gray-light rounded-5 w-full py-[0.6875rem] pl-[1.5625rem] pr-[3.4375rem] text-xs font-semibold text-title"&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Tab Indicator
                              p Use badge as indicator using 
                                 strong .indicator  
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.mb-1.flex.mt-2
                                       button.tab.tabs-bordered.tabs-bordered-bg(data-tabFilter="1" class="tab-link") Title 
                                       button.indicator.tab.tabs-bordered.tabs-bordered-bg.tab-active.tab-link(data-tabFilter="2" class="tab-link") Description
                                          span.indicator-item.badge.bg-primary.text-white.rounded-full(class="top-[-1.25rem] right-[-1.25rem] rtl:right-unset rtl:left-[-1.25rem] !p-1") +10
                                       button.tab.tabs-bordered.tabs-bordered-bg(data-tabFilter="3" class="tab-link") Others
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="flex mb-1"&gt;
                                       |       &lt;button class="tab tab-bordered tabs-bordered-bg data-tabFilter="1" tab-link"&gt; Title &lt;/button&gt;
                                       |       &lt;button class="indicator mt-2 tab tab-bordered tabs-bordered-bg tab-active data-tabFilter="2" tab-link"&gt; Description &lt;/button&gt;
                                       |           &lt;span class="indicator-item badge bg-primary text-white rounded-full top-[-1.25rem] right-[-1.25rem] rtl:right-unset rtl:left-[-1.25rem] !p-1"&gt; +10 &lt;/span&gt;
                                       |       &lt;button class="tab tab-bordered tabs-bordered-bg data-tabFilter="3" tab-link"&gt; Others &lt;/button&gt;
                                       |   &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-4(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Likes Indicator
                              p Set likes indicator using  
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator
                                       button.btn.bg-secondary.text-white.rounded.flex.justify-center.items-center.gap-2 Add Wishlist
                                          i(data-feather="heart" class="stroke-white sm:h-[1.125rem] sm:w-[1.125rem] fill-white")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="indicator"&gt;
                                       |       &lt;span class="flex items-center justify-center gap-2 text-white rounded btn bg-secondary"&gt; Add Wishlist &lt;/span&gt;
                                       |       &lt;i data-feather="heart" class="stroke-white sm:h-[1.125rem] sm:w-[1.125rem] fill-white"&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;


                  div.col-span-6(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Card Indicator
                              p Set badge as indicator for card using 
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator.mb-2
                                       p.indicator-item.badge.bg-primary.font-bold.text-white(class="!rounded-card bottom-[-0.625rem] right-[-2.125rem] rtl:left-[-2.125rem] rtl:right-unset sm:top-[-0.625rem] sm:right-[-0.9375rem] sm:bottom-unset !py-1 !px-2 border-none") Apply!!
                                       div.card.bg-gray-light 
                                          div.card-body.text-title
                                             h3.text-lg.font-bold Ready for job?
                                             p.font-normal Here, you can find more and more
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="mb-2 indicator"&gt;
                                       |       &lt;span class="indicator-item badge bg-primary font-bold text-white !rounded-card bottom-[-0.625rem] right-[-2.125rem] rtl:left-[-2.125rem] rtl:right-unset !py-1 !px-2 border-none"&gt; GOVO &lt;/span&gt;
                                       |          &lt;div class="card bg-gray-light"&gt;
                                       |             &lt;div class="card-body text-title"&gt;
                                       |                &lt;h3 class="text-lg font-bold"&gt; Ready for job? &lt;/h3&gt;
                                       |                &lt;p class="font-normal"&gt; Here, you can find more and more &lt;/p&gt;
                                       |             &lt;/div&gt;
                                       |          &lt;/div&gt;    
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;

                  div.col-span-6(class="2lg:col-span-6 2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Image Indicator
                              p Add badge as indicator for image using 
                                 strong .indicator 
                                 | class. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.flex-wrap.gap-2
                                    div.indicator
                                       span.indicator-item.img-indicator.badge.bg-info.text-white(class="!py-1 !px-2 border-none") Uploading..!!
                                       div.avatar.rounded.w-64(class="h-[5.5rem] sm:w-[13rem]")
                                          img(src="../../assets/images/carousel/3.jpg" alt="avatar")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")  
                                    code 
                                       |&lt;div class="flex flex-wrap gap-2"&gt;
                                       |    &lt;div class="indicator"&gt;
                                       |       &lt;span class="indicator-item img-indicator badge bg-info text-white !py-1 !px-2 border-none"&gt; Uploading..!! &lt;/span&gt;
                                       |       &lt;div class="avatar rounded w-64 h-[5.5rem]"&gt;
                                       |          &lt;img class="rounded-full" src="../../image.jpg" alt="avatar"/&gt;
                                       |       &lt;/div&gt;
                                       |    &lt;/div&gt; 
                                       |&lt;/div&gt;


            // Page Body End 
            +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")

         include ../../components/customizer

      include ../../layout/footer-files
