//- sidebar
-var sidebar = true;

//- feather
-var feather= true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- prism
-var prism=true;

//- Breadcrumbs
-var pageTitle="Select";
-var breadcrumb=['Ui Kits','Select'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
  include ../../layout/header-files 
  body(dir="ltr" class="unique-skin") 
    main.page-wrapper
      div.page-body-wrapper(class="xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
        include ../../layout/header/header     
        // Sidebar Start 
        div.page-sidebar.sidebar-dark.unique-sidebar
          include ../../layout/unique
        // Sidebar End 

        // Page Body Start 
        div.page-body
          div.grid.grid-cols-12.gap-card-gap.select-section
            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Custom Select
                    p To set the custom select use 
                      strong .custom-select
                      | & 
                      strong .select-style-1
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.items-center.flex-col.flex-wrap.gap-2
                        div.custom-select.select-style-1
                          select
                            option(disabled='' selected='') Pick your favorite Simpson
                            option(value="") Homer
                            option(value="") Marge
                            option(value="") Bart
                            option(value="") Lisa
                            option(value="") Maggie
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="custom-select select-style-1"&gt;
                          |   &lt;select&gt;
                          |      &lt;option disabled selected&gt;Pick your favorite Simpson&lt;/option&gt;
                          |      &lt;option&gt;Homer&lt;/option&gt;
                          |      &lt;option&gt;Marge&lt;/option&gt; 
                          |      &lt;option&gt;Bart&lt;/option&gt; 
                          |      &lt;option&gt;Lisa&lt;/option&gt; 
                          |      &lt;option&gt;Maggie&lt;/option&gt;
                          |    &lt;/select&gt;
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Without Bordered
                    p Add the custom select using 
                      strong .custom-select, .select-style-1   
                      | & 
                      strong .select-bg-white 
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.items-center.flex-col.flex-wrap.gap-2
                        div.custom-select.select-style-1.select-bg-white(class="dark:select-bg-sidebar-dark2")
                          select 
                            option(disabled='' selected='') Pick your favorite Simpson
                            option(value="") Homer
                            option(value="") Marge
                            option(value="") Bart
                            option(value="") Lisa
                            option(value="") Maggie
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="custom-select select-style-1 select-bg-white"&gt;
                          |   &lt;select&gt;
                          |      &lt;option disabled selected&gt;Pick your favorite Simpson&lt;/option&gt;
                          |      &lt;option&gt;Homer&lt;/option&gt;
                          |      &lt;option&gt;Marge&lt;/option&gt; 
                          |      &lt;option&gt;Bart&lt;/option&gt; 
                          |      &lt;option&gt;Lisa&lt;/option&gt; 
                          |      &lt;option&gt;Maggie&lt;/option&gt;
                          |    &lt;/select&gt;
                          |&lt;/div&gt;

            div.col-span-4(class="lg:col-span-6 md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Rounded Select
                    p To set the rounded select use 
                      strong .custom-select
                      | & 
                      strong .select-style-1
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.items-center.flex-col.flex-wrap.gap-2
                        div.custom-select.select-style-1.rounded
                          select
                            option(disabled='' selected='') Pick your favorite Simpson
                            option(value="") Homer
                            option(value="") Marge
                            option(value="") Bart
                            option(value="") Lisa
                            option(value="") Maggie
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="custom-select select-style-1"&gt;
                          |   &lt;select&gt;
                          |      &lt;option disabled selected&gt;Pick your favorite Simpson&lt;/option&gt;
                          |      &lt;option&gt;Homer&lt;/option&gt;
                          |      &lt;option&gt;Marge&lt;/option&gt; 
                          |      &lt;option&gt;Bart&lt;/option&gt; 
                          |      &lt;option&gt;Lisa&lt;/option&gt; 
                          |      &lt;option&gt;Maggie&lt;/option&gt;
                          |    &lt;/select&gt;
                          |&lt;/div&gt;

            div.col-span-4(class="lg:col-span-6 md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Bordered Select
                    p To set the custom select use 
                      strong .custom-select   
                      | & 
                      strong .select-style-1  
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.items-center.flex-col.flex-wrap.gap-2
                        div.custom-select.select-style-1.border.border-primary.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                          select
                            option(selected value="") Last 7 Days 
                            option(value="") Last 2 Weeks 
                            option(value="") Last 1 Month 
                            option(value="") Last 3 Month 
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="w-full max-w-xs border custom-select select-style-1 border-primary select-bg-white dark:bg-dark-dense"&gt;
                          |   &lt;select&gt;
                          |      &lt;option disabled selected&gt;Last 7 Days &lt;/option&gt;
                          |      &lt;option&gt;Last 2 Weeks &lt;/option&gt;
                          |      &lt;option&gt;Last 1 Month&lt;/option&gt; 
                          |      &lt;option&gt;Last 3 Month &lt;/option&gt; 
                          |    &lt;/select&gt;
                          |&lt;/div&gt;

            //- div.col-span-4(class="lg:col-span-6 md:col-span-12")
            //-   div.card.tabs
            //-     div.card-header.pb-2.header-bottom-border
            //-       div.flex.flex-col
            //-         h3.text-lg.font-bold Secondary Select
            //-         p To set the custom select use 
            //-           strong .custom-select   
            //-           | & 
            //-           strong .select-style-1  
            //-           | class.
            //-         div.preview-code.tab-links
            //-           button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
            //-           button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
            //-     div.card-body                                   
            //-       div.tabs-content
            //-         div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
            //-           div.flex.items-center.flex-col.flex-wrap.gap-2
            //-             div.custom-select.select-style-1.border.border-secondary.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
            //-               select
            //-                 option(selected value="") Last 7 Days 
            //-                 option(value="") Last 2 Weeks 
            //-                 option(value="") Last 1 Month 
            //-                 option(value="") Last 3 Month
            //-         div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
            //-           button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
            //-             i(data-feather="clipboard")
            //-           pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
            //-             code(class="dark:bg-sidebar-dark2")
            //-               |&lt;div class="w-full max-w-xs border custom-select select-style-1 border-secondary select-bg-white dark:bg-dark-dense"&gt;
            //-               |   &lt;select&gt;
            //-               |      &lt;option disabled selected&gt;Last 7 Days &lt;/option&gt;
            //-               |      &lt;option&gt;Last 2 Weeks &lt;/option&gt;
            //-               |      &lt;option&gt;Last 1 Month&lt;/option&gt; 
            //-               |      &lt;option&gt;Last 3 Month &lt;/option&gt; 
            //-               |    &lt;/select&gt;
            //-               |&lt;/div&gt;

            div.col-span-4(class="lg:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border6
                  div.flex.flex-col
                    h3.text-lg.font-bold Colored Select
                    p To set the colored select use 
                      strong .custom-select   
                      | & 
                      strong .select-style-2  
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.items-center.flex-col.flex-wrap.gap-2
                        div.custom-select.select-style-2.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                          select
                            option(selected value="") Last 7 Days 
                            option(value="") Last 2 Weeks 
                            option(value="") Last 1 Month 
                            option(value="") Last 3 Month
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="w-full max-w-xs border custom-select select-style-2 border-info select-bg-white dark:bg-dark-dense"&gt;
                          |   &lt;select&gt;
                          |      &lt;option disabled selected&gt;Last 7 Days &lt;/option&gt;
                          |      &lt;option&gt;Last 2 Weeks &lt;/option&gt;
                          |      &lt;option&gt;Last 1 Month&lt;/option&gt; 
                          |      &lt;option&gt;Last 3 Month &lt;/option&gt; 
                          |    &lt;/select&gt;
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Sizes
                    p To set the custom select size with the help of  
                      strong .select-*  
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.items-center.flex-col.flex-wrap.gap-2
                        div.custom-select.select-style-1.border.border-success.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                          select.select-xl
                            option(disabled='' selected='')  Your favorite season
                            option Winter
                            option Summer
                            option Spring
                            option Autumn
                        div.custom-select.select-style-1.border.border-success.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                          select.select-lg
                            option(disabled='' selected='') Type of event 
                            option Birthday
                            option Marriage
                            option Farewell
                        div.custom-select.select-style-1.border.border-success.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                          select.select-md
                            option(disabled='' selected='') Placeholder  
                            option One
                            option Two
                            option Three
                        div.custom-select.select-style-1.border.border-success.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                          select.select-sm
                            option(disabled='' selected='') Payment options 
                            option Credit Card
                            option PayPal
                            option Cash On Delivery

                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="w-full max-w-xs border custom-select select-style-1 border-success select-bg-white dark:bg-dark-dense"&gt;
                          |   &lt;select&gt;
                          |      &lt;option disabled selected&gt;Last 7 Days &lt;/option&gt;
                          |      &lt;option&gt;Last 2 Weeks &lt;/option&gt;
                          |      &lt;option&gt;Last 1 Month&lt;/option&gt; 
                          |      &lt;option&gt;Last 3 Month &lt;/option&gt; 
                          |    &lt;/select&gt;
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold With Label
                    p To set the custom select use 
                      strong .custom-select 
                      | & 
                      strong .select-style-1  
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.items-center.flex-col.flex-wrap.gap-2
                        div.form-control.w-full.max-w-xs
                          label.label.flex.justify-between.px-1.py-2
                            span.label-text Pick the best fantasy franchise
                            span.label-text-alt Alt label
                          div.custom-select.select-style-1.border.border-warning.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                            select
                              option(disabled='' selected='') Pick one
                              option Star Wars
                              option Harry Potter
                              option Lord of the Rings
                              option Planet of the Apes
                              option Star Trek
                          label.label.flex.justify-between.px-1.py-2
                            span.label-text-alt Alt label
                            span.label-text-alt Alt label
                        div.form-control.w-full.max-w-xs
                          label.label.flex.justify-between.px-1.py-2
                            span.label-text Pick the best fantasy franchise
                            span.label-text-alt Alt label
                          div.custom-select.select-style-1.border.border-danger.w-full.max-w-xs.select-bg-white(class="dark:bg-dark-dense")
                            select
                              option(disabled='' selected='') Pick one
                              option Star Wars
                              option Harry Potter
                              option Lord of the Rings
                              option Planet of the Apes
                              option Star Trek
                          label.label.flex.justify-between.px-1.py-2
                            span.label-text-alt Alt label
                            span.label-text-alt Alt label
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white") 
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;select class="w-full max-w-xs bg-white border-none select"&gt;
                          |   &lt;option disabled selected&gt;Pick your favorite Simpson&lt;/option&gt;
                          |   &lt;option&gt;Homer&lt;/option&gt;
                          |   &lt;option&gt;Marge&lt;/option&gt; 
                          |   &lt;option&gt;Bart&lt;/option&gt; 
                          |   &lt;option&gt;Lisa&lt;/option&gt; 
                          |   &lt;option&gt;Maggie&lt;/option&gt;
                          | &lt;/select&gt;



        // Page Body End 
        +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")

      include ../../components/customizer

    include ../../layout/footer-files
