//- sidebar
-var sidebar = true;

//- feathet
-var feather= true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- prism
-var prism=true;

//- Breadcrumbs
-var pageTitle="Steps";
-var breadcrumb=['Ui Kits','Steps'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
   include ../../layout/header-files 
   body(dir="ltr" class="unique-skin") 
      main.page-wrapper
         div.page-body-wrapper(class="2xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
            include ../../layout/header/header     
            // Sidebar Start 
            div.page-sidebar.sidebar-dark.unique-sidebar
               include ../../layout/unique
            // Sidebar End 

            // Page Body Start 
            div.page-body
               div.grid.grid-cols-12.gap-card-gap
                  div.col-span-12
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Steps
                              p Set steps for process using 
                                 strong .steps  
                                 | &  
                                 strong .step   
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.items-center.gap-2.w-full
                                    ul.steps.w-full(class="overflow-auto custom-scroll")
                                       li.step.step-primary(class="!min-w-[7rem] first:before:hidden") Register 
                                       li.step.step-primary(class="!min-w-[7rem]") Choose plan
                                       li.step(class="!min-w-[7rem] ") Purchase
                                       li.step(class="!min-w-[7rem]") Received 
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap items-center w-full gap-2"&gt;
                                       |    &lt;ul class="w-full steps"&gt;
                                       |        &lt;li class="step step-primary !min-w-[7rem] first:before:hidden"&gt; Register &lt;/li&gt;
                                       |        &lt;li class="step step-primary !min-w-[7rem]"&gt; Choose plan &lt;/li&gt;
                                       |        &lt;li class="step !min-w-[7rem]"&gt; Purchase &lt;/li&gt;
                                       |        &lt;li class="step !min-w-[7rem]"&gt; Received &lt;/li&gt;
                                       |    &lt;/ul&gt; 
                                       |&lt;/div&gt;

                  div.col-span-12
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Responsive Steps
                              p Set responsive steps for process using 
                                 strong .responsive-vertical  
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.items-center.flex-wrap.gap-2.w-full
                                    ul.steps.w-full(class="overflow-auto custom-scroll 2md:responsive-vertical")
                                       li.step.step-primary(class="!min-w-[7rem] first:before:hidden") Register 
                                       li.step.step-primary(class="!min-w-[7rem]") Choose plan
                                       li.step(class="!min-w-[7rem] ") Purchase
                                       li.step(class="!min-w-[7rem]") Received 
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap items-center w-full gap-2"&gt;
                                       |    &lt;ul class="w-full steps 2md:responsive-vertical"&gt;
                                       |        &lt;li class="step step-primary !min-w-[7rem] first:before:hidden"&gt; Register &lt;/li&gt;
                                       |        &lt;li class="step step-primary !min-w-[7rem]"&gt; Choose plan &lt;/li&gt;
                                       |        &lt;li class="step !min-w-[7rem]"&gt; Purchase &lt;/li&gt;
                                       |        &lt;li class="step !min-w-[7rem]"&gt; Received &lt;/li&gt;
                                       |   &lt;/ul&gt; 
                                       |&lt;/div&gt;

                  div.col-span-12
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Colored Steps
                              p Add colored steps for process using  
                                 strong .step-secondary .step-(primary, info, success, warning, danger, light) 
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.items-center.flex-wrap.gap-2.w-full
                                    ul.steps.w-full(class="overflow-auto custom-scroll")
                                       li.step.step-secondary(class="!min-w-[7rem] first:before:hidden") Register 
                                       li.step.step-secondary(class="!min-w-[7rem]") Choose plan
                                       li.step.step-secondary(class="!min-w-[7rem] ") Purchase
                                       li.step(class="!min-w-[7rem]") Received 
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap items-center w-full gap-2"&gt;
                                       |    &lt;ul class="w-full steps"&gt;
                                       |        &lt;li class="step step-secondary !min-w-[7rem] first:before:hidden"&gt; Register &lt;/li&gt;
                                       |        &lt;li class="step step-secondary !min-w-[7rem]"&gt; Choose plan &lt;/li&gt;
                                       |        &lt;li class="step !min-w-[7rem]"&gt; Purchase &lt;/li&gt;
                                       |        &lt;li class="step !min-w-[7rem]"&gt; Received &lt;/li&gt;
                                       |   &lt;/ul&gt; 
                                       |&lt;/div&gt;

                  div.col-span-12
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Multi Colored
                              p Set colored steps for process using   
                                 strong .step-(primary, info, success, warning, danger, light) 
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.flex.items-center.flex-wrap.gap-2.w-full
                                    ul.steps(class="overflow-auto custom-scroll")
                                       li.step start
                                       li.step.step-info 
                                       li.step.step-info 
                                       li.step.step-info 
                                       li.step 
                                       li.step 
                                       li.step 
                                       li.step 
                                       li.step.step-success 
                                       li.step.step-success 
                                       li.step  
                                       li.step 
                                       li.step.step-warning 
                                       li.step.step-warning 
                                       li.step 
                                       li.step 
                                       li.step.step-primary 
                                       li.step.step-primary 
                                       li.step 
                                       li.step 
                                       li.step.step-danger 
                                       li.step.step-danger 
                                       li.step.step-danger  
                                       li.step.step-danger end
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div class="flex flex-wrap items-center w-full gap-2"&gt;
                                       |     &lt;ul class="overflow-x-auto steps custom-scroll"&gt;
                                       |         &lt;li class="step"&gt;start&lt;/li&gt;
                                       |         &lt;li class="step step-info"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-info"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-info"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-success"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-success"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-warning"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-warning"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-primary"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-primary"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-danger"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-danger"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-danger"&gt;&lt;/li&gt;
                                       |         &lt;li class="step step-danger"&gt;end&lt;/li&gt; 
                                       |     &lt;/ul&gt; 
                                       |&lt;/div&gt;


            // Page Body End 
            +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")

         include ../../components/customizer

      include ../../layout/footer-files
