//- sidebar
-var sidebar = true;

//- feathet
-var feather= true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- prism
-var prism=true;

//- Breadcrumbs
-var pageTitle="Swap";
-var breadcrumb=['Ui Kits','Swap'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
   include ../../layout/header-files 
   body(dir="ltr" class="unique-skin") 
      main.page-wrapper
         div.page-body-wrapper(class="2xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
            include ../../layout/header/header     
            // Sidebar Start 
            div.page-sidebar.sidebar-dark.unique-sidebar
               include ../../layout/unique
            // Sidebar End

            // Page Body Start 
            div.page-body
               div.grid.grid-cols-12.gap-card-gap
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Swap
                              p Swap allows you to toggle the visibility of two elements adding 
                                 strong .swap , .swap-on, .swap-off 
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.tabs-content
                           div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                              div.flex.items-center.justify-center.gap-5
                                 label.swap
                                    input(type='checkbox' class="mb-0.5") 
                                    span.text-xl.text-primary.font-bold.swap-on(class="mb-[-0.375rem]") ON
                                    span.text-xl.text-secondary.font-bold.swap-off(class="mb-[-0.375rem]") OFF
                                 label.swap
                                    input(type='checkbox' class="mb-0.5") 
                                    span.text-xl.text-danger.font-bold.swap-on(class="mb-[-0.375rem]") Close
                                    span.text-xl.text-success.font-bold.swap-off(class="mb-[-0.375rem]") Open
                           div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                              button.btn.copyBtn 
                                 i(data-feather="clipboard")
                              pre(class="overflow-auto language-html custom-scroll")
                                 code
                                    |&lt;div class="flex items-center justify-center gap-5"&gt;
                                    |    &lt;label class="swap"&gt;
                                    |        &lt;input type="checkbox" class="mb-0.5"&gt;
                                    |        &lt;span class="text-xl text-primary font-bold swap-on mb-[-0.375rem]"&gt;ON&lt;/span&gt; 
                                    |        &lt;span class="text-xl text-secondary font-bold swap-off mb-[-0.375rem]"&gt;OFF&lt;/span&gt;
                                    |    &lt;/label&gt;
                                    |    &lt;label class="swap"&gt;
                                    |        &lt;input type="checkbox" class="mb-0.5"&gt;
                                    |        &lt;span class="text-xl text-danger font-bold swap-on mb-[-0.375rem]"&gt;Close&lt;/span&gt; 
                                    |        &lt;span class="text-xl text-success font-bold swap-off mb-[-0.375rem]"&gt;Open&lt;/span&gt;
                                    |    &lt;/label&gt;
                                    |&lt;/div&gt;
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold With Different icon
                              p  Set swap with the help of   
                                 strong .swap 
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.tabs-content
                           div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                              div.flex.items-center.justify-center.gap-5
                                 label.swap
                                    input(type='checkbox' class="mb-0.5")
                                    span.text-3xl.swap-on(class="mb-[-0.3125rem]")
                                       i(data-feather="sun")
                                    span.text-3xl.swap-off(class="mb-[-0.3125rem]")
                                       i(data-feather="moon")
                                 label.swap
                                    input(type='checkbox' class="mb-0.5")
                                    span.text-3xl.swap-on(class="mb-[-0.5625rem]")
                                       +SVG_ICON("Volume-Off" ,"w-6 h-6 stroke-title")
                                    span.text-3xl.swap-off(class="mb-[-0.5625rem]")
                                       +SVG_ICON("Volume-Up" ,"w-6 h-6 stroke-title")
                                 label.swap
                                    input(type='checkbox' class="mb-0.5")
                                    span.text-3xl.swap-on(class="mb-[-0.5625rem]")
                                       +SVG_ICON("Show" ,"w-6 h-6 stroke-title")
                                    span.text-3xl.swap-off(class="mb-[-0.5625rem]")
                                       +SVG_ICON("Hide" ,"w-6 h-6 stroke-title")
                           div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                              button.btn.copyBtn 
                                 i(data-feather="clipboard")
                              pre(class="overflow-auto language-html custom-scroll")
                                 code 
                                    |&lt;div class="flex items-center justify-center gap-5"&gt;     
                                    |    &lt;label class="swap"&gt;
                                    |        &lt;input class="mb-0.5" type="checkbox"&gt;
                                    |        &lt;span class="text-3xl swap-on mb-[-0.3125rem]"&gt;&lt;i data-feather="sun"&gt;&lt;/i&gt;&lt;/span&gt;
                                    |        &lt;span class="text-3xl swap-off mb-[-0.3125rem]"&gt;&lt;i data-feather="moon"&gt;&lt;/i&gt;&lt;/span&gt;
                                    |    &lt;/label&gt;
                                    |    &lt;label class="swap"&gt;
                                    |        &lt;input type="checkbox" class="mb-0.5"&gt;
                                    |        &lt;span class="swap-on mb-[-0.5625rem]"&gt; +SVG_ICON("Volume-Off" ,"w-6 h-6 stroke-title") &lt;/span&gt;
                                    |        &lt;span class="swap-off mb-[-0.5625rem]"&gt; +SVG_ICON("Volume-Up" ,"w-6 h-6 stroke-title") &lt;/span&gt;
                                    |    &lt;/label&gt;
                                    |    &lt;label class="swap"&gt;
                                    |        &lt;input type="checkbox" class="mb-0.5"&gt;
                                    |        &lt;span class="swap-on mb-[-0.5625rem]"&gt; +SVG_ICON("Show" ,"w-6 h-6 stroke-title") &lt;/span&gt;
                                    |        &lt;span class="swap-off mb-[-0.5625rem]"&gt; +SVG_ICON("Hide" ,"w-6 h-6 stroke-title") &lt;/span&gt;
                                    |    &lt;/label&gt;
                                    |&lt;/div&gt;
                  div.col-span-6(class="2md:col-span-12") 
                     div.card.tabs 
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold With Emojis 
                              p  Add emoji for swap using 
                                 strong .swap-flip 
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.tabs-content
                           div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                              div.text-center
                                 label.swap.swap-flip(class="text-[3.125rem] sm:text-[2.5rem]")
                                    input(type='checkbox' class="mb-0.5")
                                    span.text-3xl.swap-on(class="mb-[-0.5rem]") 😈
                                    span.text-3xl.swap-off(class="mb-[-0.5rem]") 😇
                           div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                              button.btn.copyBtn 
                                 i(data-feather="clipboard")
                              pre(class="overflow-auto language-html custom-scroll")
                                 code
                                    |&lt;div class="text-center"&gt;
                                    |    &lt;label class="swap swap-flip text-[3.125rem]"&gt;
                                    |        &lt;input class="mb-0.5" type="checkbox"&gt;
                                    |        &lt;span class="text-3xl swap-on mb-[-0.5rem]"&gt;😈&lt;/span&gt;
                                    |        &lt;span class="text-3xl swap-off mb-[-0.5rem]"&gt;😇&lt;/span&gt;
                                    |    &lt;/label&gt; 
                                    |&lt;/div&gt;                       
                  div.col-span-6(class="2md:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold With Like/Dislike 
                              p  Set any icons with 
                                 strong .swap-rotate 
                                 | class.
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.tabs-content
                           div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                              div.text-center
                                 label.swap.swap-rotate
                                    input(type='checkbox' class="mb-0.5")
                                    span.text-3xl.swap-on(class="mb-[-0.25rem]")
                                       img(src='../../assets/images/icons/Like.svg' alt='like icon')
                                    span.text-3xl.swap-off(class="mb-[-0.25rem]")
                                       img(src='../../assets/images/icons/Like.svg' alt='like icon')
                           div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                              button.btn.copyBtn 
                                 i(data-feather="clipboard")
                              pre(class="overflow-auto language-html custom-scroll")
                                 code
                                    |&lt;div class="text-center"&gt;
                                    |    &lt;label class="swap swap-rotate"&gt;
                                    |        &lt;input type="checkbox" class="mb-0.5"&gt;
                                    |        &lt;span class="swap-on mb-[-0.25rem]"&gt; img(src='../../assets/images/icons/Like.svg' alt='like icon') &lt;/span&gt;
                                    |        &lt;span class="swap-off mb-[-0.25rem]"&gt; img(src='../../assets/images/icons/Like.svg' alt='like icon') &lt;/span&gt;
                                    |    &lt;/label&gt; 
                                    |&lt;/div&gt;


            // Page Body End 
            +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")

      include ../../components/customizer

   include ../../layout/footer-files
