//- sidebar
-var sidebar = true;

//- feather
-var feather= true;

//- fontawesome
-var fontAwesome=true;

//- custom select
-var customSelect = true;

//- ecommerce
-var ecommerce = true;

//- swiper-slider
-var swiper=true;

//- customizer 
-var customizer = true;

//- Breadcrumbs
-var pageTitle="Wishlist";
-var breadcrumb=['Ecommerce','Wishlist'];

//- all JSON  
include ../../data/all-data

//- all mixin   
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../layout/header-files
  body(dir="ltr" class="unique-skin")
    main.page-wrapper
      div.page-body-wrapper(class="xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
        include ../../layout/header/header     
        // Sidebar Start 
        div.page-sidebar.sidebar-dark.unique-sidebar
          include ../../layout/unique 
        // Sidebar End 

        // Page Body Start
        div.page-body 
          div.grid.grid-cols-12.gap-card-gap
            each data in WISHLIST_PRODUCT_BOX
              div.col-span-3(class='4xl:col-span-3 lg:col-span-4 2md:col-span-6 2sm:col-span-12')
                +wishlist-product(data) 
        // Page Body End  
        +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")
      include ../../components/customizer       
  include ../../layout/footer-files





