/*=====================
  3.2  Avatar Css
  ==========================*/
@layer components {
  .avatar-group {
    @apply flex;
}
  .avatar {
    @apply aspect-square block overflow-hidden rounded-full;
    img {
      @apply w-full h-full object-cover;
    }
    &.placeholder {
      @apply text-center flex items-center justify-center;
    }
  }
  .status-offline{
    @apply bg-danger absolute h-[10%] w-[10%] rounded-full bottom-[12%] right-[7%];
    &.chat-status{
      @apply h-[20%] w-[20%] bottom-1 right-0;
    }
  }
  
  .status-online{
    @apply bg-primary absolute h-[10%] w-[10%] rounded-full bottom-[12%] right-[7%];
    &.chat-status{
      @apply h-[20%] w-[20%] bottom-1 right-0;
    } 
  }

  .status-dnd{
    @apply bg-warning absolute h-[10%] w-[10%] rounded-full bottom-[12%] right-[7%];
    &.chat-status{
      @apply h-[20%] w-[20%] bottom-1 right-0;
    }
  }
    .-space-x-6 {
    > :not([hidden]) {
      ~ :not([hidden]) {
        @apply rtl:mr-[calc(-1.5rem_*_calc(1_-_var(--tw-space-x-reverse)))] rtl:ml-[calc(-1.5rem_*_var(--tw-space-x-reverse))];
      }
    }
  }
}
