@layer components {
  .checkbox {
    @apply relative;
    input {
      @apply hidden;
    }

    &-indicator {
      @apply transition-all duration-300 flex items-center bg-white justify-center rounded-[0.25rem] border border-content absolute inset-0 w-full h-full;
      svg {
        @apply w-[80%] h-[80%] stroke-white;
      }
    }
    input:checked ~ .checkbox-indicator {
      @apply bg-primary border-primary;
    }

    &.checkbox-xl{
      @apply min-w-[1.75rem] h-[1.75rem];
    }
    &.checkbox-lg{
      @apply min-w-[1.5rem] h-[1.5rem];
    }
    &.checkbox-md{
      @apply min-w-[1.25rem] h-[1.25rem];
    }
    &.checkbox-sm{
      @apply min-w-[.9375rem] h-[.9375rem];
    }
  }


  .radio{
    .radio-xl{
      @apply w-6 h-6;
    }
    .radio-lg{
      @apply w-5 h-5;
    }
    .radio-md{
      @apply w-4 h-4;
    }
    .radio-sm{
      @apply w-3 h-3;
    }
  }

  .radio-button input[type=radio]{
    @apply absolute invisible;
  }
  
  .radio-button{
    @apply flex items-center gap-2;
  }

  .radio-button {
    &.radio-sm{
      .check{
        @apply w-4 h-4;
        &:before{
          @apply w-[8px] h-[8px] top-[3px] left-[3px];
        }
      }
    }
    &.radio-md{
      .check{
        @apply w-[1.10rem] h-[1.10rem];
        &:before{
          @apply w-[10px] h-[10px] top-[3px] left-[3px];
        }
      }
    }
    &.radio-lg{
      .check{
        @apply w-5 h-5;
        &:before{
          @apply w-[12px] h-[12px] top-[3px] left-[3px];
        }
      }
    }
    &.radio-xl{
      .check{
        @apply w-6 h-6;
        &:before{
          @apply w-4 h-4 top-[3px] left-[3px];
        }
      }
    }
  }

  .radio-button .check{
    @apply block relative rounded-full z-[3] w-[1.10rem] h-[1.10rem];
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }

  .radio-button .check::before {
    @apply block absolute content-[""] rounded-full m-auto w-[11px] h-[11px] top-[2px] left-[2px];
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }

  .primary{
    input[type=radio]:checked ~ .check, .check {
      @apply border border-primary;
    }
  }
  .secondary{
    input[type=radio]:checked ~ .check, .check{
      @apply border border-secondary;
    }
  }
  .info{
    input[type=radio]:checked ~ .check, .check{
      @apply border border-info;
    }
  }
  .success{
    input[type=radio]:checked ~ .check, .check{
      @apply border border-success;
    }
  }
  .warning{
    input[type=radio]:checked ~ .check, .check{
      @apply border border-warning;
    }
  }
  .danger{
    input[type=radio]:checked ~ .check, .check{
      @apply border border-danger;
    }
  }
  .light{
    input[type=radio]:checked ~ .check, .check{
      @apply border border-light;
    }
  }

  .primary{
    input[type=radio]:checked ~ .check::before {
      @apply bg-primary;
    }
  }
  .secondary{
    input[type=radio]:checked ~ .check::before {
      @apply bg-secondary;
    }
  }
  .info{
    input[type=radio]:checked ~ .check::before {
      @apply bg-info;
    }
  }
  .success{
    input[type=radio]:checked ~ .check::before {
      @apply bg-success;
    }
  }
  .warning{
    input[type=radio]:checked ~ .check::before {
      @apply bg-warning;
    }
  }
  .danger{
    input[type=radio]:checked ~ .check::before {
      @apply bg-danger;
    }
  }
  .light{
    input[type=radio]:checked ~ .check::before {
      @apply bg-light;
    }
  }


  /* Checkbox & radio with icon */

  .checkbox-wrapper, .radio-wrapper {
    @apply flex flex-wrap gap-3;

    li {
      @apply relative p-0 border-none grid place-content-center w-[110px] h-11;

      .form-check-input {
        @apply absolute w-full h-full m-0 top-0 left-0 opacity-100 rounded-none bg-transparent border border-gray-light;

        &:focus {
          @apply shadow-none;
        }

        &[type=radio] {
          @apply opacity-100;
        }

        &:checked {
          @apply border-2 border-primary bg-transparent;

          &[type=radio] {
            @apply bg-none shadow-none;
          }
        }
      }

      .form-check-label {
        @apply static p-0 flex items-center gap-1;

        &:after {
          @apply content-none;
        }

        &::before {
        @apply content-none;
        }

        svg {
          @apply text-lg pr-2;
        }

        span {
          @apply text-sm;
        }
      }
    }
  }
  .main-icon-checkbox,
  .main-icon-radio {
    &.checkbox, &.radio {
      input{
        @apply !opacity-0;
        &:checked{
          @apply opacity-100;
        }
      }
      label {
        @apply mt-0;

        &::before {
          @apply content-[""] w-full h-full ml-[1px] bg-transparent top-0 left-0 block absolute;
        }
      }

    }

    &.checkbox-primary, &.radio-primary {

      input[type=checkbox]:checked ,input[type=radio]:checked {
        +label::before {
          @apply border-2 border-primary text-transparent;
        }
      }

      input[type=checkbox],
       input[type=radio] {
        @apply opacity-100;
        +label::before {
          @apply border border-border-light text-transparent;
        }
        &:checked[type=checkbox] ,
        &:checked[type=radio] {
          @apply bg-none;
        }
      }
    }
  }

  /* img checkbox */
  .main-img-checkbox {
    .img-checkbox {
      @apply relative flex justify-center items-center;
      .main-img-cover {
        @apply absolute top-4 left-4 w-4 h-4;
      }
      .form-check-label {
        @apply w-full;
      }
      img {
        @apply w-44 h-28 object-cover sm:w-[7.75rem];
      }

      input[type=checkbox]{
        @apply border border-primary;
        &:checked[type=checkbox]{
          ~ .checkbox-indicator {
              @apply !bg-primary;
          }
        }
      }
      &.radio-button{
        @apply block;
        .check{
          @apply absolute top-4 left-4;
        }
      }
    }
    .checkbox-indicator{
      @apply absolute top-4 left-4 h-4 w-4 rounded-none;
    }
    .form-check-input{
      @apply border border-primary;
    }
  }
}

