/*=====================
  Collapse CSS
  ==========================*/

@layer components {
  .accordionItemHeading {
    @apply text-white text-sm p-3 w-full cursor-pointer mb-2 rounded font-bold;
  }

  .close .accordionItemContent {
    transition: height 2s ease-in-out;
    @apply block float-left scale-y-0 h-0;
  }

  .open .accordionItemContent {
    @apply p-3 bg-white-light border-2 border-primary-light w-full mb-2 block scale-y-100 origin-top transform delay-100 ease-in-out;
  }

  .open .accordionItemHeading {
    @apply m-0 text-white rounded-tr-[0.25rem] rounded-tl-[0.25rem] rounded-br-none rounded-bl-none;
  }

  .accordionWrapper {
    &.flush {
      .accordionItemHeading {
        @apply bg-transparent text-title rounded-none font-bold hover:bg-light;
      }

      .accordionItemContent,
      .accordionItemHeading {
        @apply border-x-0 border-t-0 border-b border-border-light dark:border-border-dark;
      }
    }

    &.default {
      .open .accordionItemHeading {
        @apply text-title;
      }

      .accordionItem {
        &.open {
          .collapse-icon {
            svg {
              @apply stroke-dark;
            }
          }
        }
      }
    }

    .accordionItem {
      &.open {
        svg {
          @apply stroke-white;
        }

        .collapse-icon {
          svg {
            @apply transform duration-100 rotate-180 stroke-white;
          }
        }
      }
    }
  }
}
