/*=====================
  3.11 Divider Css
  ==========================*/
@layer components {
    .divider {
        @apply w-[40%] before:content-[''] after:content-[''] flex flex-row items-center justify-center relative sm:w-full;
        &:before,
        &:after{
            @apply w-full h-[0.0625rem] bg-primary-light;
        }
        &.horizontal{
            @apply flex;
            &:before,
            &:after{
                @apply w-[0.0625rem] h-full bg-primary-light absolute;
            }
        }
    }
}

