/*=====================
  Dropdown CSS
==========================*/
@layer components {
  .dropdown {
    @apply relative inline-block w-fit;
    .dropdown-menu {
      @apply dark:bg-sidebar-dark dark:text-white rounded-5 z-[5] min-w-max opacity-0 duration-300 invisible  transition-[opacity,top]  border border-border-light dark:border-border-dark absolute p-[0.9375rem] top-0 right-0 rtl:right-unset rtl:left-0 shadow-lg bg-white w-full;
      > ul {
        @apply flex flex-col gap-2;
        > li {
          a {
            @apply transition-all duration-300 text-xs font-semibold text-title;
          }
          &:hover {
            > a {
              @apply text-primary no-underline;
              svg + svg {
                @apply stroke-primary;
              }
            }
          }
        }
      }
      &.dropdown-sub-menu {
        @apply right-unset translate-x-full  group-hover:top-[-60%] left-[1.25rem];
      }
    }
    &.on-hover-show {
      &:hover {
        > .dropdown-menu {
          @apply top-[1.5625rem] opacity-100 visible;
        }
      }
      &.top-open {
        .dropdown-menu {
          @apply transition-all duration-300 bottom-[0.625rem] top-unset;
        }
        &:hover {
          > .dropdown-menu {
            @apply bottom-[1.5625rem];
          }
        }
      }
    }
    &.show {
      .dropdown-menu {
        @apply top-[2.1875rem] opacity-100 visible;
      }
    }

    &.dropdown-top {
      .dropdown-menu {
        @apply left-0 top-unset bottom-full;
      }
    }

    &.dropdown-left {
      .dropdown-menu {
        @apply right-full top-0 rtl:left-full rtl:right-unset;
      }
    }
    &.dropdown-right {
      .dropdown-menu {
        @apply left-full right-unset top-0 rtl:left-unset rtl:right-full;
      }
    }
  }

  .tabs {
    .dropdown {
      .dropdown-menu {
        @apply p-2;
        ul {
          @apply gap-0;
        }
      }
    }
  }
}
