/*=====================
  3.14  Indicator Css
 ==========================*/
 
@layer components {
  .indicator {
    @apply relative max-w-fit;
    .indicator-item {
      @apply absolute p-0  border-[0.125rem] border-white rounded-full;
    }

    .offline-status{
      @apply  absolute h-[14%] w-[10%] right-[-0.3125rem] rtl:right-unset rtl:left-[-0.3125rem] top-[-0.3125rem] rounded-full bg-danger;
    }

    .active-status{
      @apply absolute h-[10%] w-[10%] right-[0.25rem] rtl:right-unset rtl:left-[0.25rem] bottom-[1rem] rounded-full bg-success;
    }

    .active-process{
      @apply  absolute left-[50%] rtl:left-unset rtl:right-[50%] top-[-0.75rem] bg-primary text-white py-1 px-2 rounded-full;
    }

    .img-indicator{
      @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .waving-text{
      span{
        @apply inline-block;
        animation: wave-text 1s ease-in-out infinite;
      }
    }
  }
}

.waving-text {
  span:nth-of-type(1){ animation-delay: 0.0s; }
  span:nth-of-type(2){ animation-delay: 0.1s; }
  span:nth-of-type(3){ animation-delay: 0.2s; }
  span:nth-of-type(4){ animation-delay: 0.3s; }
  span:nth-of-type(5){ animation-delay: 0.4s; }
  span:nth-of-type(6){ animation-delay: 0.5s; }
  span:nth-of-type(7){ animation-delay: 0.6s; }
  span:nth-of-type(8){ animation-delay: 0.7s; }
}

@keyframes wave-text{
  00%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-0.125rem);
  }
  100%{
    transform: translateY(0);
  }
}
