/*=====================
    Map css
  ==========================*/
@layer components {
  .data-map {
    @apply h-[31.25rem] w-full 4xl:h-[20rem] lg:h-[25rem] sm:h-[15.625rem];
  }
  .data-map-glob {
    @apply h-[40.625rem] w-full  2md:h-[20.25rem];
    svg {
      @apply mt-[-5%] lg:mt-[-10%] 2md:mt-[5%];
    }
  }
  .map-js-height {
    @apply h-[31.25rem] 2xl:h-[21.875rem]  sm:h-[16.25rem] z-[1];
    .leaflet-control-container {
      .leaflet-top {
        .leaflet-control-zoom {
          a {
            span {
              @apply text-2xl;
            }
          }
        }
      }
    }
  }
}
