/*=====================
  Radial progress CSS
  ==========================*/

@layer components {

    .radial-progress {
        --value: 0;
        --size: 5rem;
        height: var(--size);
        width: var(--size);
        --thickness: calc(var(--size) / 10);
        @apply relative inline-grid place-content-center rounded-full bg-gray-extralight align-middle box-content;

        &.radial-xs {
            --size: 5rem; 
        }

        &.radial-sm {
            --size: 6rem;
        }

        &.radial-md {
            --size: 8rem;
        }

        &.radial-lg {
            --size: 10rem;
        }

        &.radial-xl {
            --size: 12rem;
        }
    }

    .radial-progress:before,
    .radial-progress:after {
        @apply absolute rounded-full content-[''];
    }

    .radial-progress:before {
        background: radial-gradient(farthest-side, currentColor 98%, #0000) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
        mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
        @apply top-0 right-0 bottom-0 left-0;
    }

    .radial-progress:after {
        inset: calc(50% - var(--thickness) / 2);
        transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size) / 2 - 50%));
        @apply bg-current;
    }
}