//- =====================
//-  ADD_TO_CART_ITEMS
//- =====================
-
   var ADD_TO_CART_ITEMS= 
      [
         {
            name:"Flower Pot",
            image:"1.jpg",
            price:"$25.00",
            status:"success",
            qty:5,

         },
         {
            name:"Iphone Max pro",
            image:"2.jpg",
            price:"$35.20",
            status:"success",
            qty:12,
         },
         {
            name:"Royal Party Glass",
            image:"3.jpg",
            price:"$45.10",
            status:"success",
            qty:2,
         },
         {
            name:"Water Proof Watch",
            image:"4.jpg",
            price:"$12.30",
            status:"success",
            qty:5,
         },
         {
            name:"Traveling Duffle Bag",
            image:"5.jpg",
            price:"$32.10",
            status:"success",
            qty:12, 
         },

      ]