//- =====================
//-  All Json File
//- =====================
include ./add-to-cart.pug
include ./component-menu.pug
include ./dropdown.pug
include ./form-table-menu.pug
include ./general-menu.pug
include ./icons-list.pug
include ./legend.pug
include ./list-type.pug
include ./app-menu.pug
include ./message.pug
include ./miscellaneous-menu.pug
include ./notification.pug
include ./new-product.pug
include ./page-menu.pug
include ./product.pug
include ./profile-setting.pug
include ./recent-chat-app.pug
include ./sidebar-menu.pug
include ./tables.pug
include ./todo-app-data.pug

include ./user-card.pug
include ./widgets.pug
include ./email-index.pug