//- =====================
//-  App Menu
//- =====================
-
   var APP_MENU=
      [
         {
            icon:"Chat",
            title:"Chat",
            url:"javascript:void(0)",
            menu:
               [
                  {
                     title:"Chat App",
                     url:"chat-app.html",
                  },
                  {
                     title:"Video App",
                     url:"video-app.html",
                  },
               ]
         },
         {
            icon:"Calendar",
            title:"Calendar",
            url:"calendar.html",
         },
         {
            icon:"Bag",
            title:"Ecommerce",
            url:"javascript:void(0)",
            menu:
               [
                  {
                     title:"Add Product",
                     url:"add-product.html",
                  },
                  {
                     title:"Cart",
                     url:"cart.html",
                  },
                  {
                     title:"Checkout",
                     url:"checkout.html",
                  },
                  {
                     title:"Invoice",
                     url:"invoice.html",
                  },
                  {
                     title:"Invoice Preview",
                     url:"invoice-preview.html",
                  },
                  {
                     title:"Invoice Create",
                     url:"invoice-create.html",
                  },
                  {
                     title:"Product",
                     url:"product.html",
                  },
                  {
                     title:"Shop",
                     url:"shop.html",
                  },
                  {
                     title:"Wishlist",
                     url:"wishlist.html",
                  },
               ]
         },
         {
            icon:"Message",
            title:"Email",
            url:"email.html",
         },
         {
            icon:"Paper",
            title:"Kanban Board",
            url:"kanban-board.html",
         },
         {
            icon:"Time-Circle",
            title:"Todo",
            url:"todo.html",
         },
         {
            icon:"2-User",
            title:"User",
            url:"javascript:void(0)",
               menu:
                  [
                     {
                        title:"User Cards",
                        url:"user-card.html",
                     },
                     {
                        title:"User Profile",
                        url:"user-profile.html",
                     },
                  ]
         },
      ]
