//- =====================
//-  Components Menu
//- =====================
-
   var COMPONENT_MENU=
      [
         {
            title:"Ui Kits",
            icon:"Folder",
            url:"javascript:void(0)",
            menu:
            [ 
               {
                  title:"Typography",
                  url:"typography.html",
               },    
               {
                  title:"Avatar",
                  url:"avatar.html",
               },    
               {
                  title:"Buttons",
                  url:"buttons.html",
               },    
               {
                  title:"Badges",
                  url:"badge.html",
               },    
               {
                  title:"Progress",
                  url:"progress.html",
               },    
               {
                  title:"Modal",
                  url:"modal.html",
               },    
               {
                  title:"Alert",
                  url:"alert.html",
               },    
               {
                  title:"Dropdown",
                  url:"dropdown.html",
               },    
               {
                  title:"Collapse",
                  url:"collapse.html",
               },    
               {
                  title:"Tooltip",
                  url:"tooltip.html",
               },    
               {
                  title:"Divider",
                  url:"divider.html",
               }, 
            ]
         },
         {
            title:"Bonus Ui",
            icon:"Ticket-Star",
            url:"javascript:void(0)",
            menu:
            [ 
               {
                  title:"Breadcrumbs",
                  url:"breadcrumb.html",
               },    
               {
                  title:"Pagination",
                  url:"pagination.html",
               },    
               {
                  title:"Carousel",
                  url:"carousel.html",
               },    
               {
                  title:"Countdown",
                  url:"countdown.html",
               },    
               {
                  title:"Radial progress",
                  url:"radial-progress.html",
               },    
               {
                  title:"Swap",
                  url:"swap.html",
               },    
               {
                  title:"Indicator",
                  url:"indicator.html",
               },    
               {
                  title:"Mask",
                  url:"mask.html",
               },    
               {
                  title:"Stack",
                  url:"stack.html",
               },    
               {
                  title:"Toast",
                  url:"toast.html",
               },    
               {
                  title:"Steps",
                  url:"steps.html",
               },    
               {
                  title:"Tabs",
                  url:"tabs.html",
               },    
               {
                  title:"Rating",
                  url:"rating.html",
               },     
            ]
         },
         {
            title:"Form Components",
            icon:"Plus",
            url:"javascript:void(0)",
            menu:
            [ 
               {
                  title:"Input and Textarea",
                  url:"input-textarea.html",
               },    
               {
                  title:"Checkbox and Radio",
                  url:"checkbox-radio.html",
               },    
               {
                  title:"Select",
                  url:"select.html",
               },    
               {
                  title:"Switch",
                  url:"switch.html",
               },    
               {
                  title:"Range",
                  url:"range.html",
               },    
               {
                  title:"Input Group ",
                  url:"input-group.html",
               },    

            ]
         },
         {
            title:"Builders",
            icon:"Edit-Square",
            url:"javascript:void(0)",
            menu:
            [ 
               {
                  title:"Form Builder 1",
                  url:"form-builder1.html",
               },    
               {
                  title:"Form Builder 2",
                  url:"form-builder2.html",
               },   
               {
                  title:"Form Builder 2",
                  url:"form-builder2.html",
               },   
               {
                  title:"Form Builder 3",
                  url:"form-builder3.html",
               },   

            ]
         },
         {
            title:"Animation",
            icon:"Scan",
            url:"javascript:void(0)",
            menu:
            [ 
               {
                  title:"Animate",
                  url:"animate.html",
               },    
               {
                  title:"Scroll Reveal",
                  url:"scroll-reveal.html",
               },   
               {
                  title:"AOS animation",
                  url:"aos.html",
               },   
               {
                  title:"Tilt Animation",
                  url:"tilt.html",
               },   

            ]
         },
         {
            title:"Icons",
            icon:"Danger-Circle",
            url:"javascript:void(0)",
            menu:
            [ 
               {
                  title:"Fontawesome Icon",
                  url:"fontawesome-icon.html",
               },    
               {
                  title:"Iconly Icons",
                  url:"iconly-icon.html",
               },   
               {
                  title:"Feather Icons",
                  url:"feather.html",
               },   
               {
                  title:"Thimify Icon",
                  url:"thimify-icon.html",
               },   
               {
                  title:"Whether Icon",
                  url:"whether-icon.html",
               },   

            ]
         },
         {
            title:"Chart",
            icon:"Chart",
            url:"javascript:void(0)",
            menu:
            [ 

               {
                  title:"Apex Chart",
                  url:"apex-chart.html",
               },    
               {
                  title:"Echarts",
                  url:"echarts.html",
               },   
               {
                  title:"Google Chart",
                  url:"google-chart.html",
               },   
               {
                  title:"Sparkline Chart",
                  url:"sparkline-chart.html",
               },   
               {
                  title:"Flot Chart",
                  url:"flot-chart.html",
               },   
               {
                  title:"Knob Chart",
                  url:"knob-chart.html",
               },   
               {
                  title:"Morris Chart",
                  url:"morris-chart.html",
               },   
               {
                  title:"Chatjs Chart",
                  url:"chatjs-chart.html",
               },   
               {
                  title:"Peity Chart",
                  url:"peity-chart.html",
               },    

            ]
         },
      ]