//- =====================
//-  All Dropdown Menu
//- =====================
-var HISTORY_DROPDOWN=["Yearly","Monthly","Weekly"]

-var SHORTING_DROPDOWN=["Completed","Pending","1 Day Ago"]

-var FILTER=["Yearly","Monthly","Weekly"]

-var CITY_DROPDOWN=["Cities","Tallinn","Helsinki","Budapest"]

-var HiSTORY_DATE_DROPDOWN=["19 Aug - 25 Aug","1 Aug - 18 Aug","19 Jul - 30 Aug"]

-
  var USERS_POSITIONS=
    [
      {
        title:"Rephrase Words",
        status:"success"
      },
      {
        title:"Presentation",
        status:"danger"
      },
      {
        title:"Fill the Gap",
        status:"title"
      }, 
      {
        title:"Drag and Drop",
        status:"warning"
      },
      {
        title:"Quizz",
        status:"success"
      },
      {
        title:"Introduction",
        status:"danger"
      },
    ];