//- ====================
//-  Email Index Data
//- ====================

- 
    var EMAIL_DATA=
        [
            {
            image:"2.jpg",
            title:"Mint - is your budget ready for spring spending?", 
            subTitle:"A quick weekend trip, a staycation in your own town, or a weeklong vacay with the family—it’s your choice . . . if it’s in the budget. No matter what you plan on doing during spring break, budget ahead for it.",
            time:"2:14PM",
            },
            {
            image:"3.jpg",
            title:"Google - You Changed Your Password",
            subTitle:"You have a new password, just wanted to let you know. If you requested this modification, you may safely disregard this email. If not, just let us know and we would be happy to assist.",
            time:"4:20PM",
            },
            {
            image:"4.jpg",
            title:"Flipkart - Confirmed order",
            subTitle:"Your Order #224820998666029 has been Confirmed",
            time:"5:12PM",
            },
            {
            image:"5.jpg",
            title:"Welcome to CodePen",
            subTitle:"Thanks for signing up for CodePen! We're happy you're here. Let's get your email address verified:",
            time:"6:55PM",
            },
            { 
            image:"6.jpg",
            title:"Re: New mail settings", 
            subTitle:"Hello, Everyone understands why a new language would be advantageous: one could refuse to pay for high-priced translators.",
            time:"1:15PM",
            },
            {
            image:"7.jpg",
            title:"Google Community Team",
            subTitle:"Welcome to Google. Your new account comes with access to Google products, apps and services.Here are a few tips to get you started.",
            time:"6:34PM",
            },
            {
            image:"8.jpg",
            title:"Figma - Move work forward",
            subTitle:"Moving work forward can be hard. How do you take an idea from good to great? From concept to reality?",
            time:"2:14PM",
            },
            {
            image:"9.jpg",
            title:"Trip Reminder.",
            subTitle:"I'm sorry, but I have to disagree with Mr. Zingier. We are all aware that the title is the most crucial component of any article. Your reader won't even make it to the first sentence without an engaging title.",
            time:"4:24PM",
            },
            {
            image:"10.jpg",
            title:"There was a request to change your password!",
            subTitle:"You were asked to alter your password! Simply ignore this email if you did not request it. If not, kindly click the following button to modify your password:",
            time:"6:5:14PM",
            },
        ]   
