//- =====================
//-  Form & Table Menu
//- =====================
-
    var FORM_TABLE_MENU=
        [
            {
                icon:"Paper",
                title:"Forms",
                url:"javascript:void(0)",
                menu:
                [
                    {
                        title:"Checkbox & Radio",
                        url:"./checkbox-radio.html",
                    },
                    {
                        title:"Form Validation",
                        url:"./form-validation.html",
                    },
                    {
                        title:"Input & Textarea",
                        url:"./input-textarea.html",
                    },
                    {
                        title:"Select",
                        url:"./select.html",
                    },
                    {
                        title:"Switch",
                        url:"./switch.html",
                    },

                ]
            },
            {
                icon:"Graph",
                title:"Tables",
                url:"table.html",
            },
        ]
