//- =====================
//-  General Menu
//- =====================
-
   var DASHBOARDS_LIST = 
      [
         {
            icon:"Home",
            title:"Unique Dashboard",
            url:"index.html",
            subTitle:"Over view of all",

         },
         {
            icon:"Home",
            title:"Unique Dashboard",
            url:"index.html",
            subTitle:"Over view of all",

         },
      ]
