//- ========================
//-  All Legend Json
//- =========================
-
   var IMAGE_LEGEND=
      [
         {
            image:"1.jpg",
            title:"Jakarta",
            subTitle:"10K Followers",
            color:"success",   
         },
         { 
            image:"2.jpg",
            title:"Jakarta",
            subTitle:"10K Followers",
            color:"secondary",   
         },
         {
            image:"3.jpg",
            title:"Jakarta",
            subTitle:"10K Followers",
            color:"title",   
         }
      ]

-
   var IMAGE_LEGEND_1=
      [
         {
            image:"1.jpg",
            title:"Jakarta",
            subTitle:"10K Followers",
            color:"success",   
         },
         { 
            image:"2.jpg",
            title:"Jakarta",
            subTitle:"10K Followers",
            color:"secondary",   
         }
      ]