//- ========================
//-  All List Type Card Json
//- =========================


//- ====== Audit log Json ====== -//
-
    var AUDIT_LOG=
        [
            {
                title:"Route P204_salesfores created",
                subTitle:"Andre Sluczka",
                icon:"check",
                badge:"2hr ago",
                status:"success",
            },
            {
                title:"R304_salesforece undeployed",
                subTitle:"Fabian Beliza",
                icon:"alert-circle",
                badge:"4hr ago",
                status:"warning",
            },
            {
                title:"R304_salesforece failed",
                subTitle:"Michael Ganatra",
                icon:"x",
                badge:"10 Jun",
                status:"danger",
            },
            {
                title:"New environment DEV created",
                subTitle:"Wade Warren",
                icon:"check",
                badge:"22 Oct",
                status:"success",
            },
            {
                title:"Project salesforce created",
                subTitle:"Bessie Cooper",
                icon:"check",
                badge:"10 July",
                status:"success", 
            },
        ]

//- ====== News & Update Json ====== -//
- 
    var NEWS_UPDATE = [
        {
            image:"news/1.jpg",
            title:"Google project apply reviwe",
            subTitle:"Today’s news headlines..",
            badge:"2hr ago",
            url:"blog.html", 
        },
        {
            image:"news/2.jpg",
            title:"Business logo create", 
            subTitle:"check out the latest...",
            badge:"4hr ago",
            url:"blog.html",  
        },
        {
            image:"news/3.jpg",
            title:"Business project research",
            subTitle:"News in english: get...",  
            badge:"10 Jun",
            url:"blog.html",  
        },
        {
            image:"news/4.jpg", 
            title:"Recruitment in it Department", 
            subTitle:"Technology and...",
            badge:"22 Jun",
            url:"blog.html",  
        },
        {
            image:"news/5.jpg",
            title:"Business project research",
            subTitle:"Contributions private...",
            badge:"10 July",
            url:"blog.html",  
        }, 

    ];
//- ====== News & Update Json ====== -//
- 
    var NEWS_UPDATE2 = [
        {
            image:"news/6.jpg",
            title:"Indonesian Navy Lauds Mental Perseverance of Teenager stranded at sea...",
            subTitle:"Today’s News Headlines, Breaking...",
            badge:"10 Min ago",
            url:"blog.html", 
        },
        {
            image:"news/7.jpg",
            title:"Why now may be the ‘golden age’ for Southeast asia start-ups...",
            subTitle:"Check out the latest news from...",
            badge:"8 Min ago",
            url:"blog.html", 
        }, 
        {
            image:"news/8.jpg",
            title:"China’s renewed crypto crackdown wipes nearly $400...",
            subTitle:"Technology and indian business news...",
            badge:"12 Min ago",
            url:"blog.html", 
        },
        {
            image:"news/8.jpg",
            title:"China’s renewed crypto crackdown wipes nearly $400...",
            subTitle:"Technology and indian business news...",
            badge:"12 Min ago",
            url:"blog.html", 
        },


    ];

//- ====== Notification Card ====== -//
- 
    var NOTIFICATION_CARD = [
        {
            image:"avatar/12.jpg",
            title:"Dmitriy Groshev",
            subTitle:"Cody fisher create task on ERP management system",
            badge:"2hr ago",
            url:"chat-app.html", 
        },
        {
            image:"avatar/13.jpg",
            title:"Kristin watson", 
            subTitle:"Kristin watson payment gateway needed on sellmokam",
            badge:"4hr ago",
            url:"chat-app.html",  
        },
        {
            image:"avatar/14.jpg",
            title:"Janis Evans",
            subTitle:"Jacob jones generate invoice on E-Commerce",  
            badge:"10 Jun",
            url:"chat-app.html",  
        },
        {
            image:"avatar/15.jpg", 
            title:"Mukrani Pabelo", 
            subTitle:"Esther howard sent new logo on burger bro",
            badge:"22 Jun",
            url:"chat-app.html",  
        },
        {
            image:"avatar/16.jpg",
            title:"Josephin Water",
            subTitle:"Esther howard comment on QHI Media Project",
            badge:"10 July",
            url:"chat-app.html",  
        }, 

    ];

//- ====== Social Traffic Json ====== -//
- 
    var SOCIAL_TRAFFIC= [
        {
            image:"social/fb.svg",
            title:"Facebook",
            status:"success",
            traffic:70, 
        },
        {
            image:"social/insta.svg",
            title:"Instagram",
            status:"danger",
            traffic:54, 
        },
        {
            image:"social/tw.svg",
            title:"Twitter",
            status:"success",
            traffic:20, 
        },
        {
            image:"social/wha.svg",
            title:"Whatsapp",
            status:"danger",
            traffic:45, 
        },
        {
            image:"social/linkd.svg",
            title:"Linkedin",
            status:"success",
            traffic:80, 
        },
        {
            image:"social/yotu.svg",
            title:"Youtube",
            status:"success",
            traffic:65, 
        },
    ];
//- ====== Recent Activity ====== -//
- 
    var RECENT_ACTIVITY= [
        {
            title:"Today",
            activity:
                [
                    {
                        icon:"Chat",
                        title:"Nick Mark mentioned Sara",
                        badge:"View",  
                    },
                    {
                        icon:"Download",
                        title:"The Post name was removed",
                        badge:"View",  
                    },
                    {
                        icon:"Swap",
                        title:"Patrick Sullivan published",
                        badge:"View",  
                    },
                ],
        },
        {
            title:"Yesterday",
            activity:
                [
                    {
                        icon:"Send",
                        title:"240+ users have subscribed",
                        badge:"View",  
                    },
                    {
                        icon:"Work",
                        title:"The post nmae was suspended",
                        badge:"View",  
                    },
                ],
        },

    ];

//- ====== Monthly Invoices ====== -//
- 
    var MONTHLY_INVOICES= [
        {
            icon:"Bookmark",
            title:"Camelun ios Development",
            subTitle:"20 paid month out of 24",
            badge:"12,453.00",
            badgeSub:"Per month",  
        },
        {
            icon:"Ticket-Star",
            title:"ReactDT Motions",
            subTitle:"Late payment  12 week - pay invoce",
            badge:"54,459.00",
            badgeSub:"Per month",  
        },
        {
            icon:"Discovery",
            title:"Arocca Store",
            subTitle:"Error sending payment - Detail information",
            badge:"87,884.00",
            badgeSub:"Per month",  
        },
        {
            icon:"Shield",
            title:"EnterPress Project",
            subTitle:"25 paid days out of 113",
            badge:"79,955.00",
            badgeSub:"Per month",  
        },

    ];

//- ====== Notification Card ====== -//
- 
    var NOTIFICATION_CARD2= [
        {
            image:"2.jpg",
            title:"You have new comments in real finical law agency landing page design.",
            subTitle:"Today 11:45pm",
            badge:"Show",
        },
        {
            image:"17.jpg",
            title:"Congrats! you complete all task for today. just need to join meting.",
            subTitle:"Today 11:45pm",
            badge:"Show",
        },
        {
            image:"18.jpg",
            title:"You have new comments in real finical law agency landing page design.",
            subTitle:"Today 11:45pm",
            badge:"Show",
        },
        {
            image:"19.jpg",
            title:"Congrats! you complete all task for today. just need to join meting.",
            subTitle:"Today 11:45pm",
            badge:"Show",
        },
    ];


//- ====== Task List ====== -//
- 
    var TASK_LIST= [
        {
            title:"Call Adam to review the theme documentation",
            subTitle:"Schedule For 20 Mar,2022",
            badge:"Low",
        },
        {
            title:"Send the billing Agreement",
            subTitle:"Schedule For 14 Mar,2022",
            badge:"High",
        },
        {
            title:"Meeting with Daron to review the intake form.",
            subTitle:"Completed 8 hours ago",

        },
        {
            title:"Send over all the documentation.",
            subTitle:"Schedule For 25 Mar,2022",
            badge:"Low",
        },
        {
            title:"Check uikings theme and give customer support",
            subTitle:"Schedule For 26 Mar,2022",
            badge:"Medium",
        },

    ];

//- ====== To do List ====== -//
-   
    var TODO_LIST = [
        {
            title:"Regina Cooper",
            subTitle1:"Sending project",
            id:"#783",
            subTitle2:"for revision to Leslie Miles",
            checked: false,
            color:"primary"
        },
        {
            title:"Install Appointment",
            subTitle1:"Sending project",
            id:"#675",
            subTitle2:"for revision to Leslie Miles",
            checked: true,
            color:"secondary"
        },
        {
            title:"Territory_Adjustment",
            subTitle1:"Sending project",
            id:"#788",
            subTitle2:"for revision to Leslie Miles",
            checked: false,
            color:"warning"
        },
        {
            title:"Pricesheet approver",
            subTitle1:"Sending project",
            id:"#543",
            subTitle2:"for revision to Leslie Miles",
            checked: false,
            color:"success"
        },
        {
            title:"Regina Cooper",
            subTitle1:"Sending project",
            id:"#543",
            subTitle2:"for revision to Leslie Miles",
            checked: false,
            color:"primary"
        },
    ]

