//- =====================
//-  Message Menu
//- =====================
-
   var MESSAGE_LIST= 
      [
         {
            name:"New Review Receive",
            icon:"Chat",
            subTitle:"15 min ago",
            status:"success",

         },
         {
            name:"Transaction $250 Success",
            icon:"Scan",
            subTitle:"2 hours ago",
            status:"danger",

         },
         {
            name:"Order Place Success",
            icon:"Buy",
            subTitle:"2 week ago",
            status:"warning",

         },

         {
            name:"Netflix Subscription Expires",
            icon:"Lock",
            subTitle:"4 days ago",
            status:"info",

         },
         {
            name:"Congratulations You Won $2500",
            icon:"Discount",
            subTitle:"12 days ago",
            status:"danger",

         },
         {
            name:"Latest Updates On You Phone",
            icon:"Upload",
            subTitle:"25 days ago",
            status:"success",

         },
      ]