//- =====================
//-  Miscellaneous Menu
//- =====================
-
    var MISCELLANEOUS_LIST=
        [
            {
                icon:"Folder",
                title:"Blog",   
                url:"javascript:void(0)",
                menu:
                [
                    {
                        title:"Blog Grid",
                        url:"./blog-grid.html",
                    },
                    {
                        title:"Blog Detail",
                        url:"./blog-detail.html",
                    },
                ]
            },
            {
                icon:"Scan",
                title:"Knowledgebase",
                url:"knowledgebase.html",                     
            },
            {
                icon:"Location",
                title:"Map",   
                url:"javascript:void(0)",
                menu:
                [
                    {
                        title:"Maps Js",
                        url:"./maps-js.html",
                    },
                    {
                        title:"Data Map",
                        url:"./data-map.html",
                    },
                ]
            },
        ]
