//- =====================
//-  New Product
//- =====================
-
    var NEW_PRODUCT = [
        {
            image:"product/5.jpg",
            title:"Bags For Women", 
            subTitle:"$360.00 (150 item)",
            sideTitle:"$340.00",
            sideSubTitle:"25 Sales",
            responsiveOption: true,
        },
        {
            image:"product/3.jpg",
            title:"Long Dress", 
            subTitle:"$840.00 (185 item)",
            sideTitle:"$750.00",
            sideSubTitle:"180 Sales", 
            responsiveOption: true,
        },
        {
            image:"product/2.jpg", 
            title:"Spring Bed", 
            subTitle:"$140.00 (302 item)",
            sideTitle:"$2370.00",
            sideSubTitle:"284 Sales",
            responsiveOption: true,
        },
        {
            image:"product/1.jpg",
            title:"Samsung TV", 
            subTitle:"$140.00 (405 item)",
            sideTitle:"$2370.00",
            sideSubTitle:"315 Sales",
            responsiveOption: true,
        }
    ];