//- =====================
//-  Page Menu
//- =====================
-
   var PAGES_LIST = 
      [
         {
            icon:"Folder",
            title:"Other Pages",
            url:"javascript:void(0)",
            menu:
               [
                  {
                     title:"Coming Soon",
                     url:"./coming-soon.html",
                  },
                  {
                     title:"Error",
                     url:"./error.html",
                  },
                  {
                     title:"Forgot Password",
                     url:"./forgot-password.html",
                  },
                  {
                     title:"Login",
                     url:"./login.html",
                  },
                  {
                     title:"Otp",
                     url:"./otp.html",
                  },
                  {
                     title:"Register",
                     url:"./register.html",
                  },
                  {
                     title:"Reset Password",
                     url:"./reset-password.html",
                  },
               ]
         },
         {
            icon:"Paper",
            title:"Sample Page",
            url:"sample-page.html",
         }

      ]