//- =====================
//-  Page Menu
//- =====================
-
   var PAGES_LIST = 
      [
         {
            icon:"Chat",
            title:"Chat App",
            url:"Chat-app.html",
         },
         {
            icon:"Video",
            title:"Video Chat",
            url:"video-chat.html",
         },
         {
            icon:"Message",
            title:"Email App",
            url:"email.html",
         },
         {
            icon:"More-Circle",
            title:"Email Reader",
            url:"email-read.html",
         },
         {
            icon:"Paper-Negative",
            title:"Email Compose",
            url:"email-compose.html",
         },
         {
            icon:"Swap",
            title:"To-do list",
            url:"to-do-app.html",
         },
         {
            icon:"Ticket-Star",
            title:"Animation Page",
            url:"crypto.html",
         },
         {
            icon:"3-User",
            title:"Social App",
            url:"social-app.html",
         },

      ]