//- =====================
//-  All Product Json
//- =====================


//- ====== Inventory Json ====== -//
-
   var INVENTORY_CARD= 
      [
         {
            title:"Inventory Cost",
            image:"1.jpg",
            subTitle:"It explains the ins and outs.",
            price:"$2,400",
         },
         {
            title:"Eternal Cost",
            image:"2.jpg",
            subTitle:"It explains the ins and outs.",
            price:"$4,700",
         },
      ]

//- ====== Advertise Json ====== -//
-
   var ADVERTISE_CARD= 
      [
         {
            title:"Linkedin",
            image:"3.jpg",
            subTitle:"It explains the ins and outs.",
            price:"$3,460",
         },
         {
            title:"Facebook",
            image:"4.jpg",
            subTitle:"It explains the ins and outs.",
            price:"$1,230", 
         },
      ]