//- =====================
//-  Profile Menu
//- =====================
-
   var PROFILE_SETTING=
      [
         {
            name:"Profile Setting",    
            icon:"2-User",
            url:"profile.html",
         },
         {
            name:"Message",    
            icon:"More-Square",
            url:"message.html",
         },
         {
            name:"Taskboard",    
            icon:"Edit-Square",
            url:"todo-app.html",
         },
         {
            name:"Help",    
            icon:"Shield-Done",
            url:"faqs.html",
         },
         {
            name:"Logout",     
            icon:"Login",
            url:"javascript:void(0)",
         },
      ]