
//- =====================
//-  Recent Chat
//- =====================
- 
    var BIO_DATA = [ 
        {
            image:'3.jpg',
            name:"Sufiya",
            status:"online"
        },
        {
            image:'35.jpg',
            name:"Josephin",
            status:"online"
        },
        {
            image:'14.jpg',
            name:"Sarah",
            status:"offline"
        },
        {
            image:'37.jpg',
            name:"Janis",
            status:"online"
        },
        {
            image:'4.jpg',
            name:"Sufiya",
            status:"online"
        },
        {
            image:'8.jpg',
            name:"Josephin",
            status:"offline"
        },
    ];

//- =======================
//-  Message, Story & Call
//- =======================

-
    var MESSAGE_DATA = [
        {
            image:'2.jpg',
            title :'Dmitriy Groshev',
            subtitle:'Hi i am dmitriy groshev. how are you?',
            status:'offline',
            time:'17:21',
            calltime:'11:20',
            calltype:'incoming...',
            voicecall:'voicecall',
            storytime:'Just Now',
            notification:3
        },
        {
            image:'3.jpg',
            title :'Josephin Water',
            subtitle:'Typing...',
            status:'online',
            time:'11:56',
            calltime:'11:30',
            calltype:'outgoing...',
            voicecall:'voicecall',
            storytime:'Just Now',
            notification:2
        },
        {
            image:'4.jpg',
            title :'Sufiya Elija',
            subtitle:'I need job, Please help me.',
            status:'offline',
            time:'11:20',
            calltime:'1:55',
            calltype:'missed...',
            videocall:'videocall',
            storytime:'Just Now'
        },
        {
            image:'5.jpg',
            title :'Mukrani Pabelo',
            subtitle:'Hi i am mukrani. How are you...',
            status:'offline',
            time:'03:14',
            calltime:'3:50',
            calltype:'incoming...',
            videocall:'videocall',
            storytime:'Just Now'
        },
        {
            image:'6.jpg',
            title :'Janis Evans',
            subtitle:'Hi i am janis. how are you?',
            status:'online',
            time:'Thus',
            calltime:'5:50',
            calltype:'missed...',
            videocall:'videocall',
            storytime:'5:50'        
        },
        {
            image:'7.jpg',
            title :'John Holland',
            subtitle:'You’ve got some kind of a stome...',
            status:'online',
            time:'17:21',
            calltime:'9:20',
            calltype:'missed...',
            voicecall:'voicecall',
            storytime:'8:21'
        },
        {
            image:'8.jpg',
            title :'Anthony Eaton',
            subtitle:'Have you a headache or a sore...',
            status:'offline',
            time:'17:21',
            calltime:'10:10',
            calltype:'outgoing...',
            voicecall:'voicecall',
            storytime:'10:21'
        },
        {
            image:'9.jpg',
            title :'Michael Wilkerson',
            subtitle:'Good Morning!',
            status:'online',
            time:'17:21',
            calltime:'11:30',
            calltype:'incoming...',
            voicecall:'voicecall',
            storytime:'12:21'
        },
        {
            image:'10.jpg',
            title :'Sarah Blake',
            subtitle:'Hi i am Sarah. how are you?',
            status:'offline',
            time:'17:21',
            calltime:'15:24',
            calltype:'incoming...',
            videocall:'videocall',
            storytime:'16:45'
        },
        {
            image:'11.jpg',
            title :'Sohel Soheb',
            subtitle:'Hi i am Sohel. how are you?',
            status:'offline',
            time:'17:21',
            calltime:'15:15',
            calltype:'missed...',
            voicecall:'voicecall',
            storytime:'16:45'
        },
    ];

//- =====================
//-  Social Media
//- =====================

- 
    var SOCIAL_MEDIA_DATA =[
        {
            image:'fb3.svg',
            name:'facebook'
        },
        {
            image:'google2.svg',
            name:'google'
        },
        {
            image:'tw3.svg',
            name:'twitter'
        },
        {
            image:'insta3.svg',
            name:'instagram'
        },
        {
            image:'rss.svg',
            name:'rss'
        },
    ];

//- =====================
//-  Chat Documents
//- =====================

- 
    var CHAT_DOC_DATA = [
        {
            name:'music',
            itemtitle:'Slow Music',
            itemsize:'8.05 MB',
            time:'6 Dec'
        },
        {
            name:'folder',
            itemtitle:'3.svg',
            itemsize:'32.75 MB',
            time:'1 Dec',
            downloaditem:'3.svg'
        },
        {
            name:'file-text',
            itemtitle:'Latest.docx',
            itemsize:'15.05 MB',
            time:'26 Nov',
            downloaditem:'Latest.docx'
        },
        {
            name:'file-text',
            itemtitle:'Reoprt.docx',
            itemsize:'50.05 MB',
            time:'14 Oct',
            downloaditem:'Reoprt.docx'
        },
        {
            name:'file',
            itemtitle:'Book.pdf',
            itemsize:'35.07 MB',
            time:'19 Sept',
            downloaditem:'Book.pdf'
        },
    ];

//- =====================
//-  Chat Links
//- =====================

-
    var CHAT_LINK_DATA =[
        {
            image:'1.jpg',
            title:'design system',
            datalink:'https://www.nngroup.com/articles/design-systems-101/'
        },
        {
            image:'4.jpg',
            title:'Tailwindcss',
            datalink:'https://tailwindui.com/documentation'
        },
        {
            image:'5.jpg',
            title:'Web Design',
            datalink:'https://www.udemy.com/topic/web-design/'
        },
        {
            image:'7.jpg',
            title:'Full Stack Developer',
            datalink:'https://unacademy.com/course/full-stack-web-development/TTFVZSL3'
        },
    ];