//- =====================
//-  Sidebar Menu
//- =====================
-
   var SIDEBAR_MENU =
      [
         {
            title:"General",
            subTitle:"Dashboards,widgets.",
            menu:
               [
                  {
                     icon:"Home",
                     title:"Dashboards",
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Unique",
                              url:"./index.html",
                           },
                        ]
                  },
                  {
                     icon:"Graph",
                     title:"Widgets",
                     url:"./widgets.html",
                  },
                  {
                     icon:"Document",
                     title:"Page layout",
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"RTL",
                              url:"./rtl.html",
                           },
                           {
                              title:"Dark Layout",
                              url:"./dark-layout.html",
                           },
                           {
                              title:"Monochrome Mode",
                              url:"./monochrome-mode.html",
                           }
                        ]
                  },
               ]
         },
         {
            title:"Components",
            subTitle:"Ui Components & Elements",
            menu:
               [
                  {
                     icon:"Folder",
                     title:"Ui Kits",
                     url:"javascript:void(0)",
                        subMenu:
                           [
                              {
                                 title:"Alert",
                                 url:"./alert.html",
                              },
                              {
                                 title:"Avatars",
                                 url:"./avatars.html",
                              },
                              {
                                 title:"Badge",
                                 url:"./badge.html",
                              },
                              {
                                 title:"Button",
                                 url:"./button.html",
                              },
                              {
                                 title:"Collapse",
                                 url:"./collapse.html",
                              },
                              {
                                 title:"Divider",
                                 url:"./divider.html",
                              },
                              {
                                 title:"Dropdown",
                                 url:"./dropdown.html",
                              },
                              {
                                 title:"Modal",
                                 url:"./modal.html",
                              },
                              {
                                 title:"Progress",
                                 url:"./progress.html",
                              },
                              {
                                 title:"Tooltip",
                                 url:"./tooltip.html",
                              },
                              {
                                 title:"Typography",
                                 url:"./typography.html",
                              }
                           ]
                  },
                  {
                     icon:"Ticket-Star",
                     title:"Bonus Ui",
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Breadcrumb",
                              url:"./breadcrumb.html",
                           },
                           {
                              title:"Carousel",
                              url:"./carousel.html",
                           },
                           {
                              title:"Countdown",
                              url:"./countdown.html",
                           },
                           {
                              title:"Indicator",
                              url:"./indicator.html",
                           },
                           {
                              title:"Mask",
                              url:"./mask.html",
                           },
                           {
                              title:"Pagination",
                              url:"./pagination.html",
                           },
                           {
                              title:"Radial Progress",
                              url:"./radial-progress.html",
                           },
                           {
                              title:"Rating",
                              url:"./rating.html",
                           },
                           {
                              title:"Stack",
                              url:"./stack.html",
                           },
                           {
                              title:"Steps",
                              url:"./steps.html",
                           },
                           {
                              title:"Swap",
                              url:"./swap.html",
                           },
                           {
                              title:"Swiper Slider",
                              url:"./swiper-slider.html",
                           },
                           {
                              title:"Tabs",
                              url:"./tabs.html",
                           },
                        ]
                  },
                  {
                     icon:"Info-Square",
                     title:"Icons",
                     url:"javascript:void(0)",
                        subMenu:
                           [
                              {
                                 title:"Feather",
                                 url:"./feather.html",
                              },
                              {
                                 title:"Font Awesome",
                                 url:"./fontawesome.html",
                              },
                              {
                                 title:"Iconly",
                                 url:"./iconly.html",
                              },

                           ]
                  },
                  {
                     icon:"Chart",
                     title:"Apex Chart",
                     url:"apex-chart.html",
                  },
                     {
                        icon:"Video",
                        title:"Wow Animation",
                        url:"wow-animation.html",
                  }

               ]
         },
         {
            title:"Applications",
            subTitle:"Ready To Use Apps",
            menu:
               [
                  {
                     icon:"Chat",
                     title:"Chat",
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Chat App",
                              url:"chat-app.html",
                           },
                           {
                              title:"Video App",
                              url:"video-app.html",
                           },
                        ]
                  },
                  {
                     icon:"Calendar",
                     title:"Calendar",
                     url:"calendar.html",
                  },
                  {
                     icon:"Bag",
                     title:"Ecommerce",
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Add Product",
                              url:"add-product.html",
                           },
                           {
                              title:"Cart",
                              url:"cart.html",
                           },
                           {
                              title:"Checkout",
                              url:"checkout.html",
                           },
                           {
                              title:"Invoice",
                              url:"invoice.html",
                           },
                           {
                              title:"Invoice Preview",
                              url:"invoice-preview.html",
                           },
                           {
                              title:"Invoice Create",
                              url:"invoice-create.html",
                           },
                           {
                              title:"Product",
                              url:"product.html",
                           },
                           {
                              title:"Shop",
                              url:"shop.html",
                           },
                           {
                              title:"Wishlist",
                              url:"wishlist.html",
                           },
                        ]
                  },
                  {
                     icon:"Message",
                     title:"Email",
                     url:"email.html",
                  },
                  {
                     icon:"Paper",
                     title:"Kanban Board",
                     url:"kanban-board.html",
                  },
                  {
                     icon:"Time-Circle",
                     title:"Todo",
                     url:"todo.html",
                  },
                  {
                     icon:"2-User",
                     title:"User",
                     url:"javascript:void(0)",
                        subMenu:
                           [
                              {
                                 title:"User Cards",
                                 url:"user-card.html",
                              },
                              {
                                 title:"User Profile",
                                 url:"user-profile.html",
                              },
                           ]
                  },
               ]
         },
         {
            title:"Forms & Table",
            subTitle:"Ready To Use Froms & Tables",
            menu:
               [
                  {
                     icon:"Paper",
                     title:"Forms",
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Checkbox & Radio",
                              url:"./checkbox-radio.html",
                           },
                           {
                              title:"Form Validation",
                              url:"./form-validation.html",
                           },
                           {
                              title:"Input & Textarea",
                              url:"./input-textarea.html",
                           },
                           {
                              title:"Select",
                              url:"./select.html",
                           },
                           {
                              title:"Switch",
                              url:"./switch.html",
                           },

                        ]
                  },
                  {
                     icon:"Graph",
                     title:"Tables",
                     url:"table.html",
                  },
               ]
         },
         {
            title:"Pages",
            subTitle:"All Neccesory Pages Added",
            menu:
               [
                  {
                     icon:"Folder",
                     title:"Other Pages",
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Coming Soon",
                              url:"./coming-soon.html",
                           },
                           {
                              title:"Error",
                              url:"./error.html",
                           },
                           {
                              title:"Forgot Password",
                              url:"./forgot-password.html",
                           },
                           {
                              title:"Login",
                              url:"./login.html",
                           },
                           {
                              title:"Otp",
                              url:"./otp.html",
                           },
                           {
                              title:"Register",
                              url:"./register.html",
                           },
                           {
                              title:"Reset Password",
                              url:"./reset-password.html",
                           },
                        ]
                  },
                  {
                     icon:"Paper",
                     title:"Sample Page",
                     url:"sample-page.html",
                  }
               ]
         },
         {
            title:"Miscellaneous",
            subTitle:"Bouns Pages & Apps",
            menu:
               [
                  {
                     icon:"Folder",
                     title:"Blog",   
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Blog Grid",
                              url:"./blog-grid.html",
                           },
                           {
                              title:"Blog Detail",
                              url:"./blog-detail.html",
                           },
                        ]
                  },
                  {
                     icon:"Scan",
                     title:"Knowledgebase",
                     url:"knowledgebase.html",                     
                  },
                  {
                     icon:"Location",
                     title:"Map",   
                     url:"javascript:void(0)",
                     subMenu:
                        [
                           {
                              title:"Maps Js",
                              url:"./maps-js.html",
                           },
                           {
                              title:"Data Map",
                              url:"./data-map.html",
                           },
                        ]
                  },
               ]
         },
      ]