//- ====================
//-  Todo App Data
//- ====================

-
    var TODO_APP_DATA= [
        {
            title:"Weekly Bigbazar Shopping",
            subTitle:"Go Outside Picnic on Sunday",
            status:"pending",
            priority:"low",
        },
        {
            title:"Meeting with Advanced photographer ",
            subTitle:"meeting at office 5pm",
            checked: true,
            status:"completed",
            priority:"high",
        },
        {
            title:"Go Outside Picnic on Sunday",
            subTitle:"with friends 22 jun. 2022",
            status:"inprogress",
            priority:"medium",
        },
        {
            title:"Complete Assignment before deadline 5 Sept. 2022",
            subTitle:"complete geography assignments",
            checked:true,
            status:"completed",
            priority:"medium",
        }, 
        {
            title:"Meet old Friend to airport before he live city  to his home",
            subTitle:"long time after he meeting",
            status:"pending",
            priority:"low",
        },
    ] 

-
    var TODO_SIDEBAR_DATA= [
        {
            icon:"Document",
            title:"All Task",
            subTitle:"(152)",
        },
        {
            icon:"2-User",
            title:"People",
        },
        {
            icon:"Ticket-Star",
            title:"Important",
        },
        {
            icon:"Tick-Square",
            title:"Done",
        },
        {
            icon:"Discovery",
            title:"New Task",
        },
        {
            icon:"Work",
            title:"Do Task",
            subTitle:"(11)",
        },
        {
            icon:"Info-Circle",
            title:"In Progress",
            subTitle:"(30)",
        },
        {
            icon:"Star",
            title:"Starred",
        },
        {
            icon:"Download",
            title:"Archive",
        },
        {
            icon:"Delete",
            title:"Trash",
            subTitle:"(26)",
        },
    ]