//- =====================
//-  User Card Data
//- =====================
- 
    var USER_CARD_DATA = [ 
        {
            image:'13.png',
            name:"Emayila Sidorshina",
            email:"emayiladosidorshina@gmail.com",
            following: "235K",
            follower: "562K",
            likes: "500",            
        },
        {
            image:'14.png',
            name:"Flo Bashirian",
            email:"flobashirian123@gmail.com",
            following: "245k",
            follower: "675k",
            likes: "480",            
        },
        {
            image:'15.png',
            name:"Tiana Baumbach",
            email:"baumbachtiana77@gmail.com",
            following: "150k",
            follower: "425k",
            likes: "350",            
        },
        {
            image:'16.png',
            name:"Raegan Corkery",
            email:"corkeryraegan34@gmail.com",
            following: "235K",
            follower: "562K",
            likes: "500",            
        },
        {
            image:'17.png',
            name:"Gretchen Harvey",
            email:"greychenharvey56@gmail.com",
            following: "235K",
            follower: "562K",
            likes: "500",            
        },
        {
            image:'18.png',
            name:"Abdul Volkman",
            email:"volkmanabdul152@gmail.com",
            following: "200k",
            follower: "958k",
            likes: "1000",            
        },
        {
            image:'19.png',
            name:"Ally Kshlerin",
            email:"allykshlerin59@gmail.com",
            following: "235K",
            follower: "562K",
            likes: "500",            
        },
        {
            image:'20.png',
            name:"Patricia Kulas",
            email:"patriciakulas39@gmail.com",
            following: "265k",
            follower: "785k",
            likes: "420",            
        },
        {
            image:'21.png',
            name:"Josue Smith",
            email:"josuesmith99@gmail.com",
            following: "152k",
            follower: "562K",
            likes: "450k",            
        },
        {
            image:'22.png',
            name:"Birdie Hoeger",
            email:"hoegerbirdie99@gmail.com",
            following: "235K",
            follower: "562K",
            likes: "500",            
        },
        {
            image:'23.png',
            name:" Werner Barrows",
            email:"waerner123@gmail.com",
            following: "235K",
            follower: "562K",
            likes: "500",            
        },
    ];