//- =====================
//-  Widgets Data
//- =====================
//- ====== Revenue Widgets ====== -//
-
   var REVENUE_WIDGET=
      {
         title:"Revenue",
         price:"$4,875",
         gros:'36.28',
         status:"success",
         avatarGroup:["1","2"],
         placeholder:26,
         chart:"revenueChart",
      }

//- ====== Earning Widgets ====== -//
-
   var EARNINGS_WIDGET= 
      {
         //- title:"Earnings",
         price:"$4,875",
         subTitle:'Total Expense',
         pera:"Profit is grow 45% more than last Month continue increasing",
         chart:"earningChart",
      }

//- ====== Widget3 ====== -//
-
   var WIDGET3_DATA=
      [
         {
            title:"Total Followers",
            icon:"User",
            status:"success",
            profit:20.790,
            gros:36.28,
            chart:"totalFollowersBarChart",
         },
         {
            title:"Total Likes",
            icon:"Like",
            status:"title",
            profit:65.340,
            gros:25.28,
            chart:"totalLikesAreaChart",
         },
         {
            title:"Total Comment",
            icon:"Bold-Chat",
            status:"secondary",
            profit:20.450,
            gros:67.24,
            chart:"totalCommentRadialChart",
         },
         {
            title:"Total Saved",
            icon:"Save",
            status:"warning",
            profit:50.890,
            gros:16.30,
            chart:"totalSaveBarChart",
         }
      ] 