<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Govo admin is super flexible, powerful, clean &amp; modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Govo admin template, dashboard template, tailwind admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>Govo - Premium Admin Template</title>
    <!-- Favicon icon-->
    <link rel="icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Custom Select css-->
    <link rel="stylesheet" href="../../assets/css/vendors/custom-select.css">
    <!-- fontAwesome CSS-->
    <link rel="stylesheet" href="../../assets/css/vendors/fontawesome/all.css">
    <!-- App css-->
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body class="unique-skin" dir="ltr">
    <main class="page-wrapper">
      <!-- Page Body Start-->
      <div class="page-body h-[100vh] !mt-0">
        <div class="!flex items-center justify-center h-full p-[.9375rem] common-animate-main ratio_asos"><img class="bg-img" src="../../assets/images/dotsbg.jpg">
          <div class=" grid grid-cols-12 gap-0 mx-auto w-full max-w-[70%] xl:max-w-[50%] md:max-w-[70%] sm:max-w-[80%] 2sm:max-w-[100%] xl:flex xl:justify-center items-center">
            <div class="relative col-span-5 bg-white 2xl:col-span-6 z-1 xl:col-span-12 rounded-xl max-w-[29.375rem] min-w-[18.75rem] sm:min-w-[22.75rem] 2sm:min-w-[18.75rem] max-h-max">
              <form class="theme-form flex flex-col gap-3 !m-0 p-8 2sm:p-4" action="login.html">
                <h3>Reset Password</h3>
                <p>See your growth and get consulting support!</p>
                <div>
                  <input type="text" placeholder="New password" required>
                </div>
                <div>
                  <input type="text" placeholder="Confirm password" required>
                </div>
                <button class="btn btn-primary text-white hover:drop-shadow-lg">Reset</button>
                <div>
                  <h4>Or Sign in with </h4>
                </div>
                <div class="social sm:flex-col"><a class="flex items-center justify-center gap-1 btn !text-linkedin" href="https://www.linkedin.com/login"><i class="fa-brands fa-linkedin-in"></i>  Linkedin</a><a class="flex items-center justify-center gap-1 btn !text-twitter" href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i>  Twitter</a><a class="flex items-center justify-center gap-1 btn instagram !text-instagram" href="https://www.instagram.com/accounts/login/">
                    <svg width="0" height="0">
                      <radialgradient id="rg" r="150%" cx="30%" cy="107%">
                        <stop stop-color="#fdf497" offset="0"></stop>
                        <stop stop-color="#fdf497" offset="0.05"></stop>
                        <stop stop-color="#fd5949" offset="0.45"></stop>
                        <stop stop-color="#d6249f" offset="0.6"></stop>
                        <stop stop-color="#285AEB" offset="0.9"></stop>
                      </radialgradient>
                    </svg><i class="fa-brands fa-instagram"></i><span>  Instagram</span></a></div>
              </form>
            </div>
            <div class="col-span-7 rounded-lg 4xl:col-span-6 z-1 xl:col-span-12 xl:hidden">
              <div class="relative flex items-center justify-center object-contain"> <img class="w-[85%]" src="../../assets/images/svg/reset.svg" alt="register vector"><img class="common-animate animate-ping bottom-[35%] absolute left-[25%] w-[25%] animate__animated animate__infinite animate__shakeY animate__slower" src="../../assets/images/svg/resetpassword2.svg" alt="register vector"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Body End-->
    </main>
    <!-- Customizer-->
    <div class="bg-white customizer-sidebar dark:bg-sidebar-dark2 dark:border-border-dark">
      <div class="flex rtl:flex items-center text-title bg-primary justify-between  p-[15px] shadow-md"> <span class="text-base font-semibold text-white">Customizer</span>
        <button class="customizer-close"> <i class="w-4 h-4 stroke-white" data-feather="x"></i></button>
      </div>
      <div class="py-[4px] dark:bg-mode-200">
        <div class="px-[15px] py-7  h-[calc(100vh_-_139px)] overflow-auto ">
          <ul class="flex flex-col gap-7 mode-event">
            <li> 
              <div>
                <h5 class="leading-none text-dark text-sm font-semibold">Template Mode</h5><span class="leading-none text-content text-xs font-medium">Choose template mode dark & light</span>
              </div>
              <div class="mt-2">
                <ul class="flex items-center gap-3 flex-wrap"> 
                  <li class="relative">
                    <input class="absolute invisible opacity-0 peer" checked id="light-checked" type="radio" name="mode"><i class="stroke-primary z-[10] transition-all scale-0 opacity-0 absolute peer-checked:opacity-100 peer-checked:scale-100 top-2 right-2 w-4 h-4" data-feather="check-circle"></i>
                    <label class="block overflow-hidden border shadow-md mode-theme-light border-light rounded-5" for="light-checked"> <img class="w-[90px] object-cover" src="../../assets/images/customizer/light.png" alt="light"></label>
                  </li>
                  <li class="relative">
                    <input class="absolute invisible opacity-0 peer" id="dark-checked" type="radio" name="mode"><i class="stroke-white z-[10] transition-all scale-0 opacity-0 absolute peer-checked:opacity-100 peer-checked:scale-100 top-2 right-2 w-4 h-4" data-feather="check-circle"></i>
                    <label class="block overflow-hidden border shadow-md mode-theme-dark border-light rounded-5" for="dark-checked"> <img class="w-[90px] object-cover" src="../../assets/images/customizer/dark.png" alt="dark"></label>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div>
                <h5 class="leading-none text-dark text-sm font-semibold">Layout Type</h5><span class="leading-none text-content text-xs">Choose layout Ltr & Rtl</span>
              </div>
              <div class="mt-2">
                <ul class="flex items-center gap-3">
                  <li class="relative">
                    <input class="absolute invisible opacity-0 peer" checked id="ltr-checked" type="radio" name="dir"><i class="stroke-primary z-[10] transition-all scale-0 opacity-0 absolute peer-checked:opacity-100 peer-checked:scale-100 top-2 right-2 w-4 h-4" data-feather="check-circle"></i>
                    <label class="block overflow-hidden border shadow-md layout-ltr border-light rounded-5" for="ltr-checked"> <img class="w-[90px] object-cover" src="../../assets/images/customizer/ltr.png" alt="ltr"></label>
                  </li>
                  <li class="relative"> 
                    <input class="absolute invisible opacity-0 peer" id="rtl-checked" type="radio" name="dir"><i class="stroke-white z-[10] transition-all scale-0 opacity-0 absolute peer-checked:opacity-100 peer-checked:scale-100 top-2 right-2 w-4 h-4" data-feather="check-circle"></i>
                    <label class="block overflow-hidden border shadow-md layout-rtl border-light rounded-5" for="rtl-checked"> <img class="w-[90px] object-cover" src="../../assets/images/customizer/rtl.png" alt="rtl"></label>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div>
                <h5 class="leading-none text-dark text-sm font-semibold">Sidebar Type</h5><span class="leading-none text-content text-xs">Choose Sidebar  icon & full</span>
              </div>
              <div class="mt-2">
                <ul class="flex items-center gap-3">
                  <li class="relative">
                    <input class="absolute invisible opacity-0 peer" checked id="full-sidebar" type="radio" name="sidebar-type"><i class="stroke-primary z-[10] transition-all scale-0 opacity-0 absolute peer-checked:opacity-100 peer-checked:scale-100 top-2 right-2 w-4 h-4" data-feather="check-circle"></i>
                    <label class="block overflow-hidden border shadow-md sidebar-full border-light rounded-5" for="full-sidebar"> <img class="w-[90px] object-cover" src="../../assets/images/customizer/full-sidebar.png" alt="full sidebar"></label>
                  </li>
                  <li class="relative"> 
                    <input class="absolute invisible opacity-0 peer" id="icon-sidebar" type="radio" name="sidebar-type"><i class="stroke-primary z-[10] transition-all scale-0 opacity-0 absolute peer-checked:opacity-100 peer-checked:scale-100 top-2 right-2 w-4 h-4" data-feather="check-circle"></i>
                    <label class="block overflow-hidden border shadow-md sidebar-icon border-light rounded-5" for="icon-sidebar"> <img class="w-[90px] object-cover" src="../../assets/images/customizer/icon-sidebar.png" alt="icon sidebar"></label>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="flex items-center justify-between"> <span class="text-sm font-semobold text-title">Monochrome Mode </span>
                <label class="inline-flex relative items-center cursor-pointer">
                  <input class="sr-only peer monochrome toggle toggle-primary" name="monochrome" type="checkbox" id="monochrome"><span class="w-7 h-4 bg-content rounded-full peer peer-focus:outline-none peer-checked:after:translate-x-full peer-checked:after:content-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-light after:border after:rounded-full after:h-3 after:w-3 after:transition-all peer-checked:bg-primary"></span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex items-center gap-2 p-[15px] border-t border-light dark:bg-primaryLight dark:border-t dark:border-border-dark"> 
        <button class="btn btn-ghost flex-1 reset-customizer dark:bg-sidebar-dark">Reset  </button>
        <button class="btn btn-primary text-white flex-1">Buy Now</button>
      </div>
    </div>
  </body>
  <!-- Feather Icon Js -->
  <script src="../../assets/js/feather.min.js"></script>
  <script src="../../assets/js/feather-custom.js"></script>
  <!-- Select Js -->
  <script src="../../assets/js/custom-select.js"></script>
  <!-- fontAwesome js-->
  <script src="../../assets/js/fontawesome/all.min.js"></script>
  <!-- Custom script   -->
  <script src="../../assets/js/script.js">  </script>
</html>