/*=====================
  5.6  Mask Css
  ==========================*/
@layer components {
    .mask{
        img{
            @apply w-40 xl:w-28;
        }
        &-square{
            clip-path: inset(0 0 0 0);
        }
        &-diamond{
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }
        &-circle{
            clip-path: circle(50% at 50% 50%);
        }
        &-triangle-1{
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        &-triangle-2{
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        &-triangle-3{
            clip-path: polygon(0 50%, 100% 100%, 100% 0);
        }
        &-triangle-4{
            clip-path: polygon(100% 50%, 0 100%, 0 0);
        }
        &-pentagon-1 {
            clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        }
        &-pentagon-2 {
            clip-path: polygon(50% 100%, 100% 62%, 82% 0, 18% 0, 0 62%);
        }
        &-pentagon-3 {
            clip-path: polygon(0 50%, 38% 100%, 100% 82%, 100% 18%, 38% 0);
        }
        &-pentagon-4 {
            clip-path: polygon(100% 50%, 62% 100%, 0 82%, 0 18%, 62% 0);
        }
        &-hexagon {
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        }
        &-heptagon {
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        }
        &-octagon {
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }
        &-parallelogram-1 {
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        }
        &-parallelogram-2 {
            clip-path: polygon(75% 0, 0 0, 25% 100%, 100% 100%);
        }
        &-trapezoid-1{
            clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
        }
        &-trapezoid-2{
            clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
        }
    }
}