// Welcome Card 
div.card(class="p-card-space ")
  div.grid.grid-cols-12(class="py-[22px] 3xl:p-0 3xl:gap-[14px]")
    div.col-span-4.flex.items-center(class="3xl:col-span-12 2md:col-span-12 md:col-span-4")
      div
        h4(class="text-3xl 6xl:text-xl 2md:leading-[22px] 4xl:text-base 4xl:leading-[27px] font-bold text-title 3xl:line-clamp-1 md:block") Get Thousands Premium Courses.
        p(class="text-xs 3xl:mt-0 font-semibold text-content leading-[22px] mt-1 3xl:line-clamp-1 md:block") Upgrade to watch, play, learn, make and discover. 
        button(class="mt-6 3xl:mt-4 py-[8px] 2sm:text-2xs 2sm:py-[6px] px-4 bg-primary text-xs font-bold text-white") Go Premium
    div.col-span-8(class="3xl:col-span-12 2md:col-span-12 3xl:text-center md:col-span-8")
      img(class="h-[309px] 4xl:h-[290px] 3xl:h-[219px] 3xl:mx-auto md:w-full md:h-unset 2md:w-[60%] 2sm:w-[100%] sm:w-[70%]" src="../../assets/images/svg/2.svg" alt="welcome banner")



