// Welcome Card 
div.card(class="p-card-space")
  div.grid.grid-cols-12
    div.col-span-12.flex.items-center(class="2md:col-span-5 sm:col-span-12")
      div
        h4(class="text-3xl xl3:text-base 6xl:text-2xl 4xl:text-xl 3xl:text-lg max-w-[70%] sm:max-w-full font-bold text-title") How to build your success in 3 steps
        p(class="text-xs 3xl:mt-0 font-semibold text-content leading-[22px] mt-1 3xl:line-clamp-1 md:block") Upgrade your business 
        button(class="mt-5 xl3:mt-4 py-[8px] px-4 md:px-[14px] md:py-[6px] bg-primary text-xs font-bold text-white") Learn More
    div.col-span-12(class="2md:col-span-7 sm:col-span-12")
      div(class="h-[260px] xl3:h-[240px] 3xl:h-[227px] 3sm:h-auto lg:h-[290px] 2lg:h-[244px] md:h-[216px] sm:h-[250px] 3xl:-mt-[10px] lg:-mt-[60px] 2lg:-mt-[14px] md:-mt-[5px] overflow-hidden -my-card-space -mt-[30px] 2md:-mt-[20px] 6xl:-mt-[17px] 4xl:-mt-[37px]")
        img(class="rotate-[-18deg] sm:w-[80%]  2sm:w-full mx-auto" src="../../assets/images/svg/3.svg" alt="welcome banner")



